[2019-04-01 15:44] ilyalyudevig commented on #323
@akariv [https://drive.google.com/drive/folders/1QfXpP7sIA4PQJU3LfOvfmeNP97KjO3j9?usp=sharing](scraper and pipeline-spec)

[2019-04-01 16:29] noamoss commented on #339
@akariv got you. You're right. Let's leave as is for urls, and fix for emails only.

[2019-04-01 16:39] noamoss commented on #334
checked and approved on next.obudget

[2019-04-01 16:39] #334 closed

[2019-04-01 17:12] noamoss commented on #326
@akariv

QA results:
## General

* [ ] פג תוקף results should appear after open results. Currently I see many irrelevant results before the relevant/open ones. Sorting by publish date and/or by days count to the deadline might be useful.

 (this comment might be relevant and applied as part #324).

* [ ] when we don't know the publish date, don't show the label, or show (instead) the עודכן לאחרונה

[2019-04-01 17:31] noamoss commented on #324
@akariv as a reminder, https://github.com/OpenBudget/BudgetKey/issues/315 is here for definitions

[2019-04-01 18:49] #297 closed

[2019-04-01 19:10] noamoss commented on #315
@akariv this glitch happened for a couple of times:

![image](https://user-images.githubusercontent.com/3581741/55353034-0164fa80-54cb-11e9-8bc8-c7e81031154e.png)

[2019-04-01 19:13] noamoss commented on #324
@akariv looks good, but results categories order should be identical to the filter items order:

1. organizations
2. fields of activity
3. geographical areas
4. opportunities

[2019-04-01 19:17] noamoss opened #349 "fix search results design long texts"
(General for all search results cards, not only Hakol Kore):

When the descriptive text is longer than 2 lines, add '...':

![image](https://user-images.githubusercontent.com/3581741/55353373-cc0cdc80-54cb-11e9-88e7-7a2a563363d8.png)

[2019-04-01 19:21] noamoss commented on #315
@akariv the filter was not applied as expected:

![image](https://user-images.githubusercontent.com/3581741/55353608-6cfb9780-54cc-11e9-9e17-e9082d5ae261.png)

[2019-04-01 21:24] noamoss commented on #324
(updated last comment with a new finding)

[2019-04-02 10:00] akariv commented on #315
Filtered for future claim_date, as adding 'open' returns bad results atm.

[2019-04-02 10:10] #326 closed

[2019-04-02 10:11] #337 closed

[2019-04-02 10:13] #336 closed

[2019-04-02 10:27] akariv commented on #342
I would say that the text for this tooltip should be more concise.
Don't forget that tooltips need to look good in mobile view as well.

[2019-04-02 10:49] noamoss commented on #324
checked on live and approved.

[2019-04-02 10:54] noamoss commented on #315
checked and approved on live.

@akariv I think we should apply a fallout scenario, for items that will not include 'due date' in the source - otherwise, our users might miss it.

[2019-04-02 10:56] noamoss commented on #326
checked and approved on live.

[2019-04-02 11:05] noamoss commented on #337
checked on live and approved

[2019-04-02 11:07] noamoss commented on #336
checked and approved on live.

[2019-04-02 11:11] noamoss commented on #342
@akariv agreed. I minimized the tooltip text. Please reassign to me when I can check.

[2019-04-02 15:06] noamoss commented on #324
@akariv found another bug, the tenders are not counted correctly:

![image](https://user-images.githubusercontent.com/3581741/55413380-e600fa80-5571-11e9-8b71-8ed756e704f2.png)

[2019-04-02 15:22] noamoss opened #350 "hakol kore - static (hidden) landing page"
Create a static and robots-hidden landing page for הקול הקורה, based on the following design (taken from [here](https://app.zeplin.io/project/5c14cc360e0e0cb02de5ed2a/screen/5c5f0339c6fba37e32235054))

![image](https://user-images.githubusercontent.com/3581741/55414561-05992280-5574-11e9-92d8-da9cd63e1f94.png)

1. header and text:
 הקול קורה: כל המידע על קולות קוראים לתמיכות ומכרזים ממשלתיים

עמות

[2019-04-02 15:23] noamoss commented on #350
waiting for materials from Dana/Lior (מנהיגות אזרחית)

[2019-04-02 18:44] akariv commented on #324
I can't reproduce this - can you please share a link?

On Tue, Apr 2, 2019 at 6:06 PM noamoss <notifications@github.com> wrote:

[2019-04-02 18:50] noamoss commented on #324
@akariv weird, now I can't either. Closing the issue, will open a follow-up if I see it again.

[2019-04-02 18:50] #324 closed

[2019-04-08 16:22] noamoss commented on #350
added the missing text, ready to go.

[2019-04-10 07:14] #342 closed

[2019-04-10 07:31] #341 closed

[2019-04-10 07:32] akariv commented on #339
Can you please link to an example item that has this problem for emails?

[2019-04-10 07:34] #329 closed

[2019-04-10 07:42] akariv commented on #328
Updated the date location and text.

As for the budget year - we usually don't have this info, and generally it's not interesting as it's an 'implementation detail' of the government. If I'm applying to a support in November, I don't really care if the funds for it were allocated from this or the next budget year, as the payment time is not necessarily related to the budget year (we've seen suppor

[2019-04-10 07:43] #328 closed

[2019-04-10 08:08] akariv commented on #318
Fixed, waiting for deployment

[2019-04-10 08:10] akariv commented on #310
@noamoss can we update the scraping tasks with what we agreed above and close this issue?

[2019-04-10 08:10] akariv commented on #310
@noamoss can we update the scraping tasks with what we agreed above and close this issue?

[2019-04-10 08:11] akariv commented on #307
@noamoss can we close this one? I think the relevant, detailed issues already exist

[2019-04-10 11:41] noamoss commented on #341
checked and approved on live

[2019-04-10 11:42] noamoss commented on #329
checked and approved on live

[2019-04-10 11:44] noamoss commented on #318
please let me know when I can check

[2019-04-10 11:48] noamoss commented on #307
yep.

[2019-04-10 11:48] #307 closed

[2019-04-10 11:52] noamoss commented on #339
@akariv sorry, could find it. I will close the issue and will reopen if/when I find this error again.

[2019-04-10 11:52] #339 closed

[2019-04-10 11:54] #310 closed

[2019-04-10 11:56] noamoss commented on #310
@akariv for now I defined scarping tasks for Health ministry only, and you can find the defined logic [here, #347](https://github.com/OpenBudget/BudgetKey/issues/347)

[2019-04-10 18:10] akariv commented on #315
- Added 'open' calls for bids and tenders as well
- Changed sort order to be by creation date (when showing all results, when searching order is by relevance)

[2019-04-10 18:10] #315 closed

[2019-04-10 19:23] noamoss opened #351 "consistent publish / update date structure on search results"
following https://github.com/OpenBudget/BudgetKey/issues/315#issuecomment-481801784 :

![image](https://user-images.githubusercontent.com/3581741/55907296-074f8f80-5bdf-11e9-9144-7eeff331c756.png)

We should make sure all items/dates are structured in the same way (I prefer the dd.mm.yyyy, but it does not really matter as long as it is consistent).

[2019-04-10 19:25] noamoss commented on #318
@akariv you closed the issue, no change on my side:

![image](https://user-images.githubusercontent.com/3581741/55907466-83e26e00-5bdf-11e9-95b0-4d5dc582e8f5.png)

[2019-04-10 19:26] noamoss commented on #349
@akariv did not add '...' when the text is longer than 2 lines:

![image](https://user-images.githubusercontent.com/3581741/55907533-b7bd9380-5bdf-11e9-82b1-65acd487b444.png)

[2019-04-10 21:08] akariv commented on #349
Yeah, that's not really possible

On Wed, Apr 10, 2019, 22:27 noamoss <notifications@github.com> wrote:

[2019-04-10 21:10] akariv commented on #318
Subscription and login in general was turned off for social map.
I'll turn it on once the emails for opportunities are actually working (is
there an issue for that?)
In the meantime you can check on budgetkey.

On Wed, Apr 10, 2019, 22:25 noamoss <notifications@github.com> wrote:

[2019-04-10 21:40] noamoss commented on #349
@akariv ah? why not? any other way you can think of to show the sentence continues?

[2019-04-10 21:43] noamoss opened #352 "add email subscription for social map"
add the relevant sections to the update email structure:

- מכרזים
- קולות קוראים
- מבחני תמיכה

[2019-04-10 21:54] noamoss commented on #318
@azk

what do you mean? don't they work now (for welfare sources?) We need to show it as part of the הוכחת יכולת, so unless I miss something please turn it on.

not sure I understand - we said the opportunities will be added to the current email structure (the one you made for govbuy). Aren't we there yet? Anyhow, opened a new issue for that (#352)

---

QA results for the current issue (based on

[2019-04-11 06:55] azk commented on #318
@noamoss I guess you intended on mentioning @akariv

[2019-04-11 07:57] noamoss commented on #318
@azk whoops. right, sorry.

@akariv ^^^

[2019-04-14 09:06] noamoss commented on #352
@akariv the mechanism works on the social map search results page, but still two issues are not covered:

1. It should be added to the social map home page search component as well.

2. The same usage scenario covered on https://github.com/OpenBudget/BudgetKey/issues/318#issuecomment-481881393: anonymous users clicking on the red start should not need to click it again after logging in.

[2019-04-14 09:15] akariv commented on #352
it makes less sense to have it on the main page before you see any search
results, but I could enable it there as well.
Re (2), let's keep one issue open for each problem.

On Sun, Apr 14, 2019 at 12:06 PM noamoss <notifications@github.com> wrote:

[2019-04-14 11:27] noamoss commented on #352
Our main problem is that people are not aware of this (great) service. Let's enable it on the homepage as well and see how users will react.

Np, just referenced #318, where I described the full scenario. Feel free to close this issue once you add the indication to the social map homepage.

[2019-04-15 10:44] maryLoi opened #353 "מספר סעיף לנושא רוחבי"
![image](https://user-images.githubusercontent.com/8996235/56126808-6a954500-5f84-11e9-8667-0e96eb9e4a79.png)

מספר 22 לשירותים חברתיים / חינוך
https://next.obudget.org/i/budget/C222/2019?li=4

[2019-04-15 11:01] maryLoi opened #354 "תקציבי 2019 לא מופיעים בטבלת ההיסטוריה התקציבית"
הטבלה שבתוך דפי הסעיפים

[2019-04-15 18:33] noamoss opened #355 "search results item: fix visual (add max height)"
https://next.obudget.org/s/?q=%D7%99%D7%9C%D7%93%D7%99%D7%9D&dd=all&range=all&lang=he:

![image](https://user-images.githubusercontent.com/3581741/56156536-232fa880-5fc6-11e9-9dc6-4dabd5779c01.png)

[2019-04-15 19:21] #349 closed

[2019-04-15 21:37] noamoss commented on #352
@akariv looks good (both on the social map homepage and the search results page).

Here is a scenario to consider: I created two different alerts, both were made via social map:

![image](https://user-images.githubusercontent.com/3581741/56166510-7b72a480-5fde-11e9-9884-6bc60fb44fd2.png)

* השכלה for הזדמנויות
* השכלה for הכל (but remember this is הכל in the social map context).

Three questions r

[2019-04-15 21:42] noamoss opened #356 "search results: higher rank for items with the quried term"
When I typed 'מחשבים' in the social map search, none of the first 4 items included the queried term, but a variation ('נחשוב'):

https://next.obudget.org/s/?q=%D7%9E%D7%97%D7%A9%D7%91%D7%99%D7%9D&dd=associations&range=all&lang=he&org_kind=all&region=all&creds=all&public_funds=all:

![image](https://user-images.githubusercontent.com/3581741/56167178-23d53880-5fe0-11e9-8f19-ef9a8a718c06.png)

Items

[2019-04-15 21:45] noamoss commented on #349
@akariv still wondering why (i.e. what's the technical obstacle) for adding three dots, instead of the current blur effect.

[2019-04-15 21:45] noamoss commented on #318
checked on live, looks great.

[2019-04-15 21:48] noamoss commented on #318
@akariv found one more place where the indication is missing, saved searches page (on social-map context):

![image](https://user-images.githubusercontent.com/3581741/56167613-4e73c100-5fe1-11e9-92ff-79aab28363c7.png)

[2019-04-16 07:03] akariv commented on #356
This is again the question of scoring -
An organisation with a 7M NIS yearly turnaround will get a boost over an organisation with 20K turnaround. This boost might mean that a lesser text match will come before another, better one.

As for the 'single result' - it got a match since both a variant of 'מחשב'  and 'נייד' appear in the text. We can decide not to look in the text at all, or not to look

[2019-04-16 07:05] akariv commented on #356
For every fine-tuning decision or threshold we decide on, there are going to be examples that look better with it and examples that look worse - for example, here's a search term where the first result is the correct one although it's not an exact match, and exact matches appear down the list:

https://next.obudget.org/s/?q=%D7%96%D7%94%D7%95%D7%AA%20%D7%99%D7%94%D7%95%D7%93%D7%99%D7%AA&dd=associa

[2019-04-16 07:12] akariv commented on #352
1. not atm just for one user (i.e. you)

2 & 3:
Email has specific sections (tenders closing soon, calls_for_bids etc.) that were specifically defined for each document type.

Each section is applied for a term if the saved search was an 'all' search or on a relevant document type. For example, tender related sections will appear if the original search contained tenders (doesn't matter what was th

[2019-04-16 07:13] akariv commented on #318
Added now by default to all page headers.

[2019-04-16 07:13] #318 closed

[2019-04-16 07:17] #150 closed

[2019-04-16 08:34] noamoss commented on #356
can we decide to combine both options into one condition for קולות קוראים & מבחני תמיכה only? (i.e. don't score variants in the text body only, meaning, to skip this condition when scoring other content types)?

Another possible alternative could be not to totally give up but to lower the score we give to variants in the inner text.

by ignoring textual variants only inside the body text (but keep

[2019-04-16 08:36] noamoss commented on #318
checked on live and approved.

[2019-04-16 08:40] noamoss opened #357 "social map: can't reach saved alerts from homepage"
1. browsed to socialmap.org.il
2. logged in, through top left menu.
3. clicked on 'התראות שמורות' on the top left menu

--->
expected redirect: https://next.obudget.org/p/?theme=socialmap
in reality: reloaded the homepage.

[2019-04-16 08:42] noamoss commented on #352
@akariv

1. (since there is no way to validate the mechanism) let's leave the issue open and wait for the next delivery. I will leave it assigned to me and will update once I get the email.

2 & 3. great, just want to verify.

[2019-04-16 08:46] noamoss commented on #356
@akariv I am taking back my first suggestion.

I think the trick should be lowering score for variants in the text body (comparing to variants in the title) for all content types. Is it possible?

[2019-04-16 09:21] akariv commented on #356
We can have only exact matches in the text for support criteria and calls
for bids, sure.
Lowering the score won't have any effect if you only have one result,
though.

This was referring to your 'Items with the queried term should be ranked
higher' suggestion.
For every such modification, there are other queries who would suffer from
the change.

On Tue, Apr 16, 2019 at 11:46 AM noamoss <notifica

[2019-04-16 13:32] maryLoi opened #358 "BudgetKey: going back in search results"
כשגולשים בדף תוצאות החיפוש, לחיצה על "חזרה" לא לוקחת אותי לדף האחרון אלא לדף הראשי

דוגמה:
1. בדף הבית מקלידים "חינוך
2. בדף החיפוש מקליקים על כותרת הקטגוריה "סעיפים תקציביים
3. click "back" in the browser
as a result i'm taken to homepage and not to the previous view in the search results

[2019-04-16 19:47] akariv commented on #356
btw, title matches (variants or not) are already boosted over other matches in the record's data.

[2019-04-16 19:59] #357 closed

[2019-04-16 20:06] #351 closed

[2019-04-16 20:55] noamoss commented on #356
@akariv got you. Let me check with our users/partners. I will leave this issue assigned to me until I get their feedback.

[2019-04-16 20:56] noamoss commented on #357
checked on live and approved.

[2019-04-16 20:58] noamoss commented on #351
checked on live and approved.

[2019-04-21 08:54] noamoss commented on #352
@akariv the mail seems to be delivered correctly, but I got one unrelated alert, to be reported in #356.

closing this issue.

[2019-04-21 08:56] noamoss commented on #356
just got my weekly alert email. Searching 'השכלה' + 'קולות קוראים', made get this item:

https://next.obudget.org/i/calls_for_bids/call_for_bids/233798557/None

The term 'השכלה' does not appear in any field, and I suspect the term 'שכל' in the text body trigged it. It is strengthing my thought to exclude from alerts item when we have a single variation of the term in the body (i.e. not in the titl

[2019-04-21 08:58] noamoss commented on #352
correction, reopening this issue, as the ([same item](https://next.obudget.org/i/calls_for_bids/call_for_bids/233798557/None)) appeared in your email - under the search term 'נוער". We have a bug.

[2019-04-21 11:27] akariv commented on #352
What's the bug here? That two search items triggered the same result?
That the same result appears twice?

On Sun, Apr 21, 2019, 11:58 noamoss <notifications@github.com> wrote:

[2019-04-21 13:36] noamoss commented on #352
@akariv

The bug here is that there is nothing in this item that is relevant to the saved queried terms. You saved 'נוער' and this item does not consist of it. I have a wild guess why it appeared (and therefore, it might be related to #356) but I can not say for sure.

well, having the same item twice in the same email is a problem, but can not be defined as a bug (as we did not define anything el

[2019-04-21 17:33] akariv commented on #352
The body of the item contains the word 'יוער' which is treated as a variant
of 'נוער'.

On Sun, Apr 21, 2019, 16:36 noamoss <notifications@github.com> wrote:

On Sun, Apr 21, 2019, 16:36 noamoss <notifications@github.com> wrote:

[2019-04-21 19:00] noamoss commented on #352
@akariv that was my wild guess. I think we will have to update the capturing logic, but this to be handled in #356

but there is another problem:
- The mail was sent on April 19.
- The item's publish date is April 10.
- The alert was set during the last week (meaning, after April 14) -

is there an hidden reason I am not aware of for including it in this week update?

[2019-04-21 19:02] noamoss commented on #356
Another example of this issue was mentioned on https://github.com/OpenBudget/BudgetKey/issues/352#issuecomment-485269036. I think we should allow items with <b>only</b>  3 (or less) variatons of the queried terms as long as they are in the item's body text.

[2019-04-22 05:23] akariv commented on #352
The update contains all open items, as we don't have any reliable means for
knowing the publication dates for most items.

On Sun, Apr 21, 2019, 22:00 noamoss <notifications@github.com> wrote:

[2019-04-22 05:26] akariv commented on #356
Not sure I understand the logic you're suggesting...

On Sun, Apr 21, 2019, 22:02 noamoss <notifications@github.com> wrote:

[2019-04-22 10:54] noamoss commented on #352
1. what does it mean? will I keep getting the same item week after week?
2. but you do have a publication date field in this example, so why ignore it?
3. can't we have a 'change' flag per to include in the email only new/updated items?

[2019-04-22 10:58] noamoss commented on #356
I assume we have two kinds of triggers to add a score to an item:
A. exact queried word
B. variation of the queried word.

I assume we can tell when each of them appears in different fields:
- Item's Title.
- Item's Body
- Involved Sides (i.e. governmental agency,  provider etc...).

My suggestion is to set score back to 0 if the item consist **only** 1/2/3  variations of the queried word(s) in th

[2019-04-22 16:04] noamoss opened #359 "add 'טיוטה' label to טיוטת מבחני תמיכה"
[Example Item](https://next.obudget.org/i/support_criteria/support_criteria/271355134/None?li=0&theme=socialmap). Currently it looks like open מבחן תמיכה - we should change פתוח status to 'טיוטה' or 'טיוטה להערות הציבור'.

![image](https://user-images.githubusercontent.com/3581741/56509969-1d3f4780-6531-11e9-8a83-f5bb28e5251d.png)

[2019-04-24 12:05] akariv commented on #359
There's no indication in the item's metadata that this is indeed a draft.

Other than running some complex and inaccurate nlp algorithms on the text, do you have any suggestion as to how to detect this sort of items?

![Screen Shot 2019-04-24 at 14 47 14](https://user-images.githubusercontent.com/265333/56657213-20a51100-66a0-11e9-88e2-2f01fcf34aa6.png)

An example item which is detected as draft:

[2019-04-24 12:15] akariv commented on #356
So, in other words, items which 3 or less variants in the body and no other matches would be **disallowed**.

[2019-04-24 12:21] noamoss commented on #356
exactly.

On Wed, Apr 24, 2019, 15:15 Adam Kariv <notifications@github.com> wrote:

[2019-04-24 12:32] akariv commented on #352
Okay - let me correct myself after re-reading the code.

The update contains only **new** items, based on the first time we saw them (i.e. not the stated publication date, but the actual publication) - we scan our sources daily so this is accurate to ~1 day.
Specifically, this item appeared online on April 15th (although it claims it had been published on April 10th - I guess there was a delay unt

[2019-04-24 13:50] #332 closed

[2019-04-24 14:44] #325 closed

[2019-04-24 15:56] noamoss commented on #359
@akariv

1. currently the page is broken:

![image](https://user-images.githubusercontent.com/3581741/56674049-0b40de80-66c2-11e9-9fe7-98a6b271f735.png)

Please let me know when ready for a recheck.

2.

you're right. I don't see a point in building complex logic mechanisms for this source for now, and suggest to  leave as is for now. What do you think?

But please keep this comment/issue in mind

[2019-04-24 15:58] noamoss commented on #352
:+1:

[2019-04-24 15:58] #352 closed

[2019-04-24 16:05] noamoss commented on #340
@akariv

Looks good, but something is wrong with the fade-in effect: the strip appears when I load the page (expected bevahiour: it should move in after the page was loaded, just like it happens in next.obudget).

[2019-04-24 16:07] noamoss commented on #332
@akariv from a brief check it looks great! good job.

[2019-04-24 16:08] noamoss commented on #325
checked on live, looks great.

[2019-04-24 16:16] noamoss opened #360 "Idea: different sorting on הזדמנויות search results page + category"
While using the הזדמנויות filtered search results page, I thought it would make sense to apply a different sorting logic for these results (comparing the overall results sorting mechanism, we are discussing in #356) - making the item(s) with a closer deadline appear before the laters.

If it to be applied, it should have the same logic both in the filtered result tab and in the 'all' tab.

[2019-04-24 16:16] noamoss commented on #360
@akariv before checking our content partners opinion, I would be glad to hear what do you think of this idea, and how much time (more or less) it would take to apply.

[2019-04-24 16:52] akariv commented on #360
These are already sorted by publication date (when showing 'all') and by relevance when searching for a specific term.

[2019-04-24 17:10] akariv commented on #359
Fixed now.

Also to note, that 'draft' is not a stage for documents but rather a different kind of document (stages are 'open', 'in effect' and 'outdated'). They are like RFis in the procurement world, which may result in a tender to be published in a later date but do not guarantee it.

[2019-04-24 17:26] akariv commented on #340
You're right, fixed.

[2019-04-24 20:25] noamoss commented on #340
checked on live.

[2019-04-24 20:28] noamoss commented on #359
I thought we discussed it and decided otherwise. I can correct my mistake in the email I sent to the content partners.

[2019-04-24 20:28] #359 closed

[2019-04-24 20:45] noamoss commented on #360
@akariv right, and my idea is to omit the relevance factor and sort only by days left to the deadline. My assumption is that when looking for opportunities (and opportunities only) it is the most important factor for users.

A. what do you think of the idea?
B. how complicated (== hours) would it be to implement?

[2019-04-24 21:07] akariv commented on #350
Page is now live at
https://socialmap.org.il/hakol-kore

[2019-04-24 22:16] noamoss opened #361 "hakol-kore landing page to mobile"
the new (hidden) landing page is not working properly on mobile devices, as we had no pre-made design and since we are not sure if this is a priority at all. Before discussing it with our partners and to be able to consider it, I would like to know how much time it should take. Just to clarify, we are not talking about fancy behaviors, just to imitate the social map general homepage breakdown on n

[2019-04-24 22:17] noamoss commented on #350
@akariv looks good, few things:

![image](https://user-images.githubusercontent.com/3581741/56697061-642a6a00-66f6-11e9-996d-5e5cd05caabf.png)

1. missing favicon + title should be: המפה החברתית - הקול קורה
(please apply for socialmap.org.il as well, as this has a SEO impact)

2. no point keeping the drop-down for one option, please hide/remove it.

3.please fix the text:
למידע נוסף על ארגוני החבר

[2019-04-24 22:20] noamoss commented on #340
@akariv I am reopening, as the strip does not fit on mobile/narrow screens:

![image](https://user-images.githubusercontent.com/3581741/56697739-334b3480-66f8-11e9-918f-39f5fbeea90c.png)

(feel free to break line or to lower the font size, whatever you feel is right)

[2019-04-24 22:21] noamoss commented on #361
@akariv could you try and estimate the task, and reassign to me?

[2019-04-25 04:45] akariv commented on #360
I disagree - why would anyone prefer an irrelevant result over a relevant one just because it has less days till its deadline?

[2019-04-25 05:01] akariv commented on #350
1. There never was a socialmap favicon - restored it to the budgetkey
favicon for now.
2. I won't redesign a new searchbar component just for this page.
3. Fixed
4. This placeholder is a global override in mobile mode, to avoid the long
placeholders to overflow the length of the search bar.
    I'm guessing you tried to load the page in mobile?
5. Fixed
6. Fixed

On Thu, Apr 25, 2019 at 1:17 AM no

[2019-04-25 05:13] akariv commented on #340
Fixed.

On Thu, Apr 25, 2019 at 1:20 AM noamoss <notifications@github.com> wrote:

[2019-04-25 05:26] akariv commented on #361
~ 0.5hours to implement.

[2019-04-25 05:33] akariv commented on #350
Re (2) - I managed to find a hack to remove it without too much tinkering, deployed now.

[2019-04-25 05:33] #340 closed

[2019-04-25 08:01] noamoss commented on #360
@akariv well, I think there is a different/unique 'job to be done' (to quote Mushon) behind this content type, comparing to the other kinds of search. It comes from a strange feeling I had when I looked at the results list of this category: we highlighted the days left for applications for a reason.

I might be wrong, of course, and therefore would like to check this thought with the partners, as

[2019-04-25 08:02] noamoss commented on #361
@akariv so, let's implement please - no reason to wait for their input.

[2019-04-25 08:07] noamoss commented on #350
@akariv you did not relate to point 7 above. The rest looks great.

----

checked and approved.

I saw you found a great solution. thanks.

checked and approved.

propbably correct, as I played with the tab size. checked now and approved.

checked and approved.

checked and approved.

[2019-04-25 08:09] noamoss commented on #340
checked and approved.

[2019-04-25 08:11] noamoss commented on #360
... I think this issue is most relevant when you click the new promo strip in the homepage and move into a filtered search result page for הזדמנויות - since the user did not type in any term, I see no real point using the publishing date for sorting - it is good to know when it was published, but the key factor is how much time left for me to work/explore/decide for each item.

[2019-04-25 08:21] akariv commented on #361
done

On Thu, Apr 25, 2019 at 11:02 AM noamoss <notifications@github.com> wrote:

[2019-04-25 08:28] noamoss commented on #361
thanks!
checked and approved.

[2019-04-25 08:28] #361 closed

[2019-04-25 08:36] noamoss opened #362 "update tenders statuses lists"
I found a wrong status definition [for this item](https://next.obudget.org/i/tenders/central/626102/technology-20-2018?li=10&theme=socialmap).

I updated lines 14-16 [in the tenders definitions](https://docs.google.com/spreadsheets/d/1JkZooBwoxKPlrXWWwUtNHLMdxc-iG0n5tdGZ23I8fYY/edit?usp=sharing)

Please reload the new definitions.

[2019-04-25 08:37] noamoss commented on #362
@akariv could you please verify I was using the correct definitions file before reloading the definitions?

[2019-04-25 08:38] akariv commented on #350
Fixed #7

On Thu, Apr 25, 2019 at 11:08 AM noamoss <notifications@github.com> wrote:

[2019-04-25 08:40] noamoss commented on #350
looks good. We're done here.

[2019-04-25 08:40] #350 closed

[2019-04-29 12:39] noamoss opened #363 "hakol-kore landingpage: prevent heading cut"
user reported the header is being cut on a default zoom load [using this browser+screen](https://www.whatismybrowser.com/w/PW8NWRY). I was able to reproduce using a slight shorter screen length (120 X 620):

![image](https://user-images.githubusercontent.com/3581741/56896585-c8ea1980-6a94-11e9-869c-20a66e67a3e9.png)

User reported the same problem occurs at the lower part of the page:

[2019-05-02 13:42] maryLoi commented on #322
משפטים שלא תורגמו לערבית, לפי סדר הופעתם באתר:

מליארד ₪  - مليار شيكل
נראה לי שהגיע הזמן לדוגמא – يبدو لي انّه آن الأوان ان نعطي مثالا
[בתרשים המקווקו]
מתוך תקציב המדינה – من ميزانية الدولة
משרד החינוך – وزارة التربية والتعليم
יסודי וחטיבות ביניים – المرحلتان الابتدائية والاعدادية
חטיבה עליונה – المرحلة الثانوية
חינוך מיוחד – التربية الخاصة
קדם-יסודי – التعليم ما قبل الابتدائي
תכניות חינוכיות משל

[2019-05-04 19:37] noamoss commented on #363
@akariv saw https://github.com/OpenBudget/socialmap-app-main-page/commit/7e4a4a31d52f1d439312aae1538d958313d34ac6 and checked on live.

looks good, closing this one.

[2019-05-04 19:37] #363 closed

[2019-05-05 18:40] maryLoi opened #364 "מילת חיפוש לא ממורקרת בתוצאות"
https://next.obudget.org/s/?q=%D7%A0%D7%95%D7%A2%D7%A8&dd=supports&range=all&lang=he&kind=calls_for_bids

![image](https://user-images.githubusercontent.com/8996235/57198692-60aca380-6f7e-11e9-8024-6d21f2f009a1.png)

[2019-05-05 18:41] maryLoi commented on #364
למה שאר התוצאות עלו בתוצאות החיפוש?

[2019-05-05 18:45] maryLoi opened #365 "להוסיף קישור לתקנה בעמוד רכש"
כמו שמופיע בדף תמיכה
להוריד את שני האפסים בהתחלה

![image](https://user-images.githubusercontent.com/8996235/57198751-2099f080-6f7f-11e9-9689-731a0b2e5e1c.png)

[2019-05-05 19:20] maryLoi opened #366 "null בתיאור התקשרות מופיע"
https://next.obudget.org/i/org/company/514785328

![image](https://user-images.githubusercontent.com/8996235/57199115-fd257480-6f83-11e9-98b2-5633b01e012e.png)

[2019-05-06 18:46] #354 closed

[2019-05-06 18:47] #305 closed

[2019-05-06 18:47] #148 closed

[2019-05-08 07:51] noamoss opened #367 "update social map about page search input"
https://next.obudget.org/about/?theme=socialmap

![image](https://user-images.githubusercontent.com/3581741/57358917-2100da00-717f-11e9-92fd-0a602ad2f622.png)

does not include the new הזדמנויות filter
does not include the dynamic email registration indication

[2019-05-15 16:09] maryLoi opened #368 "קישורים בתחתית מפתח התקציב לא לחיצים"
אי אפשר להקליק על הקישורים

![image](https://user-images.githubusercontent.com/8996235/57791162-df56cd00-7744-11e9-8e8a-ea3b9808c4aa.png)

[2019-05-15 16:13] akariv commented on #368
תצטרכי להראות לי, לא מצליח לשחזר.

On Wed, May 15, 2019 at 7:09 PM Mary <notifications@github.com> wrote:

[2019-05-19 12:20] akariv opened #369 "סריקת כל המועמדים לכנסת בבחירות 2019"
מכאן

https://bechirot21.bechirot.gov.il/election/Candidates/Pages/default.aspx

[2019-05-26 11:57] BitanTomer commented on #369
I will work on this

[2019-05-26 17:54] maryLoi opened #370 "Social Map: stats"
מספר ישובים לא הגיוני
(הדף הראשי)

![image](https://user-images.githubusercontent.com/8996235/58385392-67b45800-7ff8-11e9-9acd-d5b2a5aaa9ae.png)

[2019-05-26 19:03] akariv commented on #370
מה לא הגיוני?

On Sun, May 26, 2019, 20:54 Mary <notifications@github.com> wrote:

[2019-05-27 17:52] maryLoi opened #371 "Time format in SocialMap"
https://next.obudget.org/i/reports/ngo-district-report/%D7%AA%D7%9C%20%D7%90%D7%91%D7%99%D7%91?theme=socialmap

![image](https://user-images.githubusercontent.com/8996235/58433744-3c497000-80c1-11e9-9f8f-6616073a4787.png)

[2019-05-28 19:47] #368 closed

[2019-05-28 19:47] maryLoi commented on #368
resolved

[2019-05-28 19:48] maryLoi commented on #370
טעות שלי, חשבתי שיש רק 255 ישובים, אבל זה עיריות

[2019-05-28 19:48] #370 closed

[2019-05-28 19:49] akariv commented on #370
*רשויות מקומיות

On Tue, May 28, 2019 at 10:48 PM Mary <notifications@github.com> wrote:

[2019-05-28 19:50] maryLoi opened #372 "קישורים לסעיפים שבורים"
https://next.obudget.org/i/budget/0094200310/2019?li=0

![image](https://user-images.githubusercontent.com/8996235/58507657-ec3edc00-819a-11e9-9822-2aa36679d2b8.png)

[2019-06-04 17:41] maryLoi opened #373 "לא מופיע "מקבל כספי ממשלה"
בדף של עמותת אנוש לא מופיע הטאב "מקבל כספי ממשלה
https://next.obudget.org/i/org/association/580019800?li=0

![image](https://user-images.githubusercontent.com/8996235/58901070-16e3e400-8709-11e9-8566-51ff5ebf8200.png)

[2019-06-04 18:26] akariv commented on #373
כי הם לא מקבלים

On Tue, Jun 4, 2019, 20:41 Mary <notifications@github.com> wrote:

[2019-06-04 18:27] akariv commented on #373
או שבעצם כן... טוב, אבדוק

On Tue, Jun 4, 2019, 21:26 Adam Kariv <adam.kariv@gmail.com> wrote:

[2019-06-06 16:22] maryLoi opened #374 "להוסיף פילטר לפי הזדמנויות למפתח התקציב"
מבין כל סוגי ההזדמנויות, בדף תוצאות החיפוש אפשר לבחור רק תמיכות או מכרזים
![image](https://user-images.githubusercontent.com/8996235/59048836-5fc5a500-888f-11e9-9de1-37a45348380c.png)

קולות קוראים מופיעים רק תחת תמיכות, ומתחבאים בדרופ-דאון של "תהליך". למרות שמדובר בכל סוגי הקולות הקוריאם

![image](https://user-images.githubusercontent.com/8996235/59049108-f1cdad80-888f-11e9-969a-8150bfce3418.png)

[2019-06-10 10:37] akariv opened #375 "Add download interface to search api"
We want to be able to download search results as CSV or Excel, so that users can download a list of search results from the search page and not from a query.

We want to add a new endpoint to the search api (/download) which will get the following parameters:
- document type
- optional search term
- optional filters
- optional ordering
- optional limit (set max to a reasonable limit)
- optional of

[2019-06-10 14:13] MaaikeB commented on #316
dataflows:
https://github.com/datahq/dataflows/blob/master/TUTORIAL.md

csv file at data.gov:

scraper file
https://github.com/OpenBudget/budgetkey-data-pipelines/blob/master/datapackage_pipelines_budgetkey/pipelines/entities/companies/registrar/scraper.py#L39

here is an example of how to transform the data
https://github.com/OpenBudget/budgetkey-data-pipelines/blob/4a88f4daa4ccb900bed3e3193d5c0a

[2019-06-10 15:53] MaaikeB commented on #375
@akariv some questions:

- What is the 'UI scenario' where this endpoint would be used?
You wrote download from the search page, meaning here?
![image](https://user-images.githubusercontent.com/5782705/59207660-24d5b100-8bb0-11e9-9fcf-170fa93608d7.png)
Where would there be a download button?

- I assume the /download endpoint should be in the data-api project?
There is already an /download endpoin

[2019-06-10 17:32] akariv commented on #375
@MaaikeB this issue is just for backend work (so don't worry about the frontend at the moment - we'll get it designed and integrated after the backend is ready)

All work in this issue should be done in the `OpenBudget/apies` repo - not the data-api (the download there is not relevant in the context of this repo).

If you see the endpoints there you'll see examples of similar calls:

https://githu

[2019-06-17 15:59] MaaikeB commented on #375
@akariv thanks, I removed the pull request at the `data-api` (and deleted the branch) and started working at the `apies`.

Question - Are there any instructions how to run the project?

[2019-06-27 07:48] maryLoi opened #376 "רכש פתוח: האייקון של הצ'ט עולה על הלוגו"
האייקון של הצ'ט עולה על הלוגו בפתיחת האתר

![image](https://user-images.githubusercontent.com/8996235/60247180-d2430700-98c8-11e9-956d-b70c4d834bc4.png)

[2019-06-27 09:37] maryLoi opened #377 "חיפוש עם גרשיים"
צריך שחיפוש "ערן" יתן גם את ערן עם גרשיים

[2019-07-01 16:21] akariv commented on #208
sample page: https://next.obudget.org/i/budget/0020460214/2018?li=0

[2019-07-01 16:23] akariv commented on #208
Relevant repo - github.com/OpenBudget/budgetkey-app-generic-item

[2019-07-03 18:24] maryLoi opened #378 "גרשיים משובשות בשמות גופים"
יש הרבה דוגמאות

![image](https://user-images.githubusercontent.com/8996235/60615842-c24f8980-9dd8-11e9-9bcd-8d53da3ba33c.png)

חרסה סטודיו - יצרני כלים סניטריים בע~מ

[2019-07-08 17:05] slallum commented on #178
This can be closed, right?

[2019-07-08 17:28] slallum commented on #226
starting to work on it

[2019-07-08 17:28] akariv commented on #178
Yep. Thanks!

On Mon, Jul 8, 2019 at 8:05 PM Ofer Horowitz <notifications@github.com>
wrote:

[2019-07-08 17:28] #178 closed

[2019-07-21 13:40] maryLoi opened #379 "יעוץ - ייעוץ"
חיפוש של יעוץ או ייעוץ לא נותן אותן תוצאות

[2019-07-25 07:55] #92 closed

[2019-07-29 15:25] noamoss commented on #92
checked on live and approved.

[2019-08-01 09:19] maryLoi opened #380 "תצוגה של טבלה בתחתית הדף"
כדאי להציד בתפריט רק אופציות רלוונטיות. אם אין התקשרויות, לא להציג אותן
כמו כן בדיפולט להציג טבלה שיש בה נתונים

דוגמה לטבלה ריקה, בדף חברה שיש לה הרבה התקשרויות
![image](https://user-images.githubusercontent.com/8996235/62281528-9a465b00-b456-11e9-8550-c29dc83abca8.png)

https://next.obudget.org/i/org/company/513685990?li=0

[2019-08-06 19:04] noamoss opened #381 "calls for propsal: mobile display"
https://next.obudget.org/i/calls_for_bids/call_for_bids/211396491/None?li=0&theme=socialmap

see designs at
- https://app.zeplin.io/project/5c14cc360e0e0cb02de5ed2a/screen/5d4954036230f14baec85599
- https://app.zeplin.io/project/5c14cc360e0e0cb02de5ed2a/screen/5d495405e9648e12d72cce5c

[2019-08-06 19:23] noamoss opened #382 "support critera: mobile display"
(https://next.obudget.org/i/support_criteria/support_criteria/276639186/None?li=0&theme=socialmap):

https://app.zeplin.io/project/5c14cc360e0e0cb02de5ed2a/screen/5d49540345d6b94bf0e97f72

[2019-08-06 19:40] noamoss opened #383 "tenders: mobile display"
- closed tender: https://app.zeplin.io/project/5c14cc360e0e0cb02de5ed2a/screen/5c2a02dba72ae0af70ed4ed3

- closed tender collapsed: https://app.zeplin.io/project/5c14cc360e0e0cb02de5ed2a/screen/5c2a02da08e761af2e28402a

- open tender with action item alert: https://app.zeplin.io/project/5c14cc360e0e0cb02de5ed2a/screen/5c165f505366b7aee17d9785

[2019-08-07 16:59] maryLoi opened #384 "מוצג תקציב לשנים שהתקנה לא היתה קיימת"
למשל:
באתר מופיע תקציב מ-1997 עד 2019
בעוד שלפי רידש התקנה היתה קיימת רק מ-2013 עד 2019

https://next.obudget.org/i/budget/007003/2019

זו השאילתה:

select code, title, year,
net_allocated,
net_executed,
net_revised,
hierarchy

from raw_budget
 where title = 'פעולות פיתוח במרקם'

[2019-08-07 17:22] #384 closed

[2019-08-11 05:47] noamoss commented on #367
fixed on live.

[2019-08-11 05:47] #367 closed

[2019-08-11 05:47] noamoss commented on #360
^^^^

[2019-08-11 05:59] #313 closed

[2019-08-11 06:22] noamoss opened #385 "scrape gov.il publications (tenders, call for bids, support criterias)"
A. Use the type ("סוג") field to mark relevant publications, and keep the main/secondary topic fields for tagging:

https://www.gov.il/he/Departments/publications/
![image](https://user-images.githubusercontent.com/3581741/62830417-7550a580-bc17-11e9-8ad7-9af200928c93.png)

A1. for tenders ("מכרזים") use the new status field (פעיל) as Hakol-Kore opportunities filter.

![image](https://user-images.

[2019-08-11 06:39] noamoss opened #386 "scrape education ministry call for bids"
https://pob.education.gov.il/KolotKorim/Pages/KolKore.aspx

On the default list view, we can scrape the following data points:
![image](https://user-images.githubusercontent.com/3581741/62830653-d463e980-bc1a-11e9-9a32-2ce87172fe9b.png)

1. item description/title
2. publisher (department of the education ministry)
3. due date
4. link for publication download + tag ("תבחינים")

Expanding the item d

[2019-08-11 07:13] noamoss opened #387 "scrape: Ministry of Development of the Negev and Galilee publications"
http://negev-galil.gov.il/MediaCenter/Tenders/Pages/play_ground030719.aspx:

From the general list view we can extract:

1. publication status.
2A. publication type (title includes the type:
* קול קורא ל...
* מכרז פומבי מס...
*  פניה מוקדמת לקבל מידע
* נוהל סיוע

2B. Item title/description (rest of the text)

3. publish date
![image](https://user-images.githubusercontent.com/3581741/62830875-a1bbf

[2019-08-11 07:28] noamoss opened #388 "Scrape Social Security: Requests for assistance and calls for proposals"
https://www.btl.gov.il/Funds/kolotkorim/Pages/default.aspx:

1. for Hakol-Kore opportunities filter by status: 'פתוח להגשה' & 'יפורסם בהמשך'

Extract the following data points:
2. The item title/description
3. The publication file link
4. The fund name, use as a publisher (in addition to 'הביטוח הלאומי')
5. Target population (not sure if we should use it as part of the main content or as a tag/lab

[2019-08-11 07:37] noamoss opened #389 "Scrape The Estate Commission (ועדת העזבונות) call for bids"
* This source is being updated 1-2 times a year (unknown dates).

Basically, this issue is to ensure it was covered by the gov.il issue (#385 )

[2019-08-11 08:11] noamoss commented on #343
?

[2019-08-11 08:17] noamoss opened #390 "scrape Ministry of culture past supports"
This issue aims to verify if we can extract past office supports for NGOs.

In the following link you will find xls files for past years, documenting the NGO number + name and the reported amount:
https://www.gov.il/he/Departments/General/ministry_support

![image](https://user-images.githubusercontent.com/3581741/62831526-9621f680-bc29-11e9-9afc-4f8a0c4b32db.png)

[2019-08-11 08:28] noamoss opened #391 "scraper: ministry of immigration support criterias"
All criteria and relevant documents are published in a single page, with a separate section per year, and scan this page once a month:

https://www.gov.il/he/Departments/publications/Call_for_bids/tmichot_mosdot_tzibur

I suggest to create an annual item with the following properties:

- title 'תמיכות במוסדות ציבור לשנת [year]'
- textual content/description: "תמיכה בפעולות חברה ותרבות המסייעות לקל

[2019-08-11 08:38] noamoss opened #392 "scraper: prime minister office support criteria"
http://www.pmo.gov.il/Pages/GovernmentSupport.aspx

This page includes a separate section per publication

![image](https://user-images.githubusercontent.com/3581741/62831676-dbdfbe80-bc2b-11e9-8a01-13be9b799b49.png)

- title 'תמיכות במוסדות ציבור המנציחים זכרם ופועלם של נשיאי ישראל, ראש ממשלותיה ודמויות נוספות לשנת [year]'
- textual content/description: "בהתאם להוראות סעיף 3א לחוק יסודות התקציב,

[2019-08-11 08:52] noamoss opened #393 "scrape Justice Ministry tenders"
https://www.justice.gov.il/Pubilcations/Tenders/Pages/SearchTender.aspx:

fromt the main list view extract the following details:

1. publication no.
2. publication type:
2A מכרז פומבי --> מכרז משרדי
2B בקשה לקבלת מידע RFI
3. title/description
4. detailed page url
5. due date

![image](https://user-images.githubusercontent.com/3581741/62831834-991ee600-bc2d-11e9-9f9d-423e850a95d9.png)

From the de

[2019-08-11 09:02] noamoss opened #394 "scrape Justice ministry class action lawsuit (קרן תובענות יצוגיות)"
https://www.justice.gov.il/Units/ApotroposKlali/Departments/ApotroposKlali/giloi/Pages/ClassActionLaw.aspx

All the items are published in this single page, in the lower section table. My suggestion for the items are:

1. item no.
2. link for attached file (label should be: "פרסום רשמי")
3. item title: קרן התובענות היצוגיות + [topic]
4. due date
5. updates (notice, seems like it is being used main

[2019-08-11 09:33] noamoss opened #395 "scrape justice ministry general guardian (האפוטרופוס הכללי)"
updated source link:  https://data.gov.il/dataset/ezvonot2018

------
This source was originally intended for כספי הקדשות. I wrote this issue in a bit more general way, hope it makes sense.

https://www.justice.gov.il/Units/ApotroposKlali/PressRoom/News/Pages/default.aspx

from the general list view extract the following data points:
1. item title
2. URL to the detailed page
3. publish date
4. bod

[2019-08-11 09:50] noamoss opened #396 "scrape JNF tenders"
http://www.kkl.org.il/tenders/bids/

from the general list view extract the following data points:

1. item title (notice, we can extract the publish no.)
2. due date (seems easier to take it from here, comparing to the detailed page view)
3. publish date
4. detailed page URL
![image](https://user-images.githubusercontent.com/3581741/62832343-3cbfc480-bc35-11e9-83ca-5b04c4d0731a.png)

detailed pag

[2019-08-11 09:57] noamoss opened #397 "scrape Joint publishes (tenders, exemptions, call for bids)"
This issue was originally meant to handle tenders (and "מיזם משותף" which include the term מכרז in the title) - but I extended it hoping we can catch also call for bids exemptions following simple logic. If it does not make sense, we can go back and focus over tenders

http://www2.jdc.org.il/he/jobs/85:

From the list view can extract:
1. publish date
2. publish title + publish type:
2A call for b

[2019-08-11 10:17] noamoss commented on #291
duplicated by #383. closing.

[2019-08-11 10:17] #291 closed

[2019-08-11 10:24] noamoss opened #398 "alert/notification email, responsive/adapt for mobile"

[2019-08-11 10:24] noamoss commented on #398
@akariv you said we don't need a design for this issue since it is more of a developmental challenge. Please let me know if something is needed here.

[2019-08-11 10:47] noamoss opened #399 "support criteria + call for bids page design (to fit search resutls page pattern)"
The item's title color in the search results page does not reflect on the item page.

https://next.obudget.org/s/?q=%D7%97%D7%99%D7%A0%D7%95%D7%9A&dd=opportunities&range=all&lang=he&theme=socialmap&kind=support_criteria&focused=no
![image](https://user-images.githubusercontent.com/3581741/62832866-cbd0da80-bc3d-11e9-9c6c-17b4a6c58398.png)

the item page:

https://next.obudget.org/i/support_criteri

[2019-08-12 17:38] SanSunB commented on #208
I'm working on this :)

[2019-08-27 16:09] SanSunB commented on #304
I'm working on this :)

[2019-09-06 08:24] #316 closed

[2019-09-09 17:55] #303 closed

[2019-09-09 18:35] maryLoi opened #400 "מספר תקנה לחיץ בדף רכש"
במספר התקנה להוריד שני אפסים מובילים ולהפוך אותו ללחיץ
דוגמה
![image](https://user-images.githubusercontent.com/8996235/64557175-b12b7780-d349-11e9-85d1-83fdd751fb30.png)

https://next.obudget.org/i/contract-spending/%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%97%D7%99%D7%A0%D7%95%D7%9A/4501095356/0020460125?li=0

[2019-09-11 19:50] noamoss commented on #397
@akariv this issue is on hold, due to discussion with the partner.

[2019-09-11 19:50] noamoss commented on #396
@akariv this issue is on hold, due to discussion with the partner.

[2019-09-15 10:17] maryLoi opened #401 "קול קורא: סטטוס וקישור לא נכון"
https://next.obudget.org/i/calls_for_bids/call_for_bids/259976757/None?li=4

הסטטוס פתוח - לא מעודכן
קישור לפרסום המקורי מוביל לדף הבית של ג'וביז - לא רלוונטי

[2019-09-15 10:49] maryLoi opened #402 "קול קורא : אפשרויות סינון"
במפתח התקציב צריך להוסיף אפשרות סינון לפי **הזדמנויות** כמו במפה החברתית
כמו כן, בדרופ-דאון של חיפוש ממוקד צריך להוסיף את כל האופציות שיש ברכש פתוח

![image](https://user-images.githubusercontent.com/8996235/64920367-96308b80-d7bf-11e9-9a72-63df4fe1915f.png)

_______________________________________________________________________________
![image](https://user-images.githubusercontent.com/8996235/6

[2019-09-15 11:22] maryLoi opened #403 ""מקבל כספי ממשלה" - לציין שהסכום אגרגטיבי"
לא ברור לכמה שנים מתייחסים הסכומים האגרגטיביים בלשונית זו

![image](https://user-images.githubusercontent.com/8996235/64920809-3d172680-d7c4-11e9-805e-b3c5aadb4d2c.png)

[2019-09-19 13:37] maryLoi opened #404 "לא מוצגות תוצאות חיפ"
![image](https://user-images.githubusercontent.com/8996235/65248933-b2a03100-dafb-11e9-90d9-de40a0c4c01d.png)

[2019-09-19 15:34] akariv commented on #404
לינק > תמונה

On Thu, Sep 19, 2019 at 4:37 PM Mary <notifications@github.com> wrote:

[2019-09-19 16:44] maryLoi commented on #404
https://next.obudget.org/s/?q=%D7%99%D7%99%D7%A2%D7%95%D7%A5%20%D7%95%D7%91%D7%A7%D7%A8%D7%94%20%D7%9C%D7%A9%D7%9B%D7%A8%20%D7%A2%D7%95%D7%91%D7%93%D7%99%D7%9D&dd=all&range=all&lang=he

[2019-09-25 18:11] noamoss opened #405 "renew welfare ministry scrapers"

[2019-09-27 09:37] noamoss opened #406 "add mingdal credit to hakol-kore landing page"
add the following sentence:

 "בשיתוף פעולה בתוכנית חברתית עם מגדל חברה לביטוח":

![image](https://user-images.githubusercontent.com/3581741/69502326-a929af80-0f16-11ea-82e7-601c01e4c9d0.png)

(expand the white space of the current credit, with a line break, to include the addition)

[2019-09-27 09:37] noamoss commented on #406
sent options to Dorit, waiting for instructions.

[2019-10-21 21:30] akariv commented on #345
There isn't any open tender + it seems that we're getting the data from the main tender scraping (minhal harechesh).
I propose we close this one as done.

[2019-10-21 21:39] noamoss commented on #345
@akariv makes sense.

[2019-10-21 21:39] #345 closed

[2019-10-21 21:42] noamoss commented on #345
(approve checking and finding past/closed etgar tenders in the budget key search)

[2019-10-22 06:44] akariv commented on #389
It's covered:

https://next.obudget.org/get/calls_for_bids/calls_for_bids/126947/3ab7feb7-709d-4e1c-8321-687aae93e364?li=0

[2019-10-22 07:05] akariv commented on #395
A lot of the links broke as this unit moved to publish stuff using the standard gov publications method.

Still I'm not sure a prize for a poet/writer or a scholarship for students should be considered a 'kol kore' at all. Same goes for the list of missing persons - how's that relevant?

This unit has a list of support 'areas' which are defined on a yearly basis (we should locate their source - I

[2019-10-22 19:16] noamoss commented on #389
@akariv nice, but is it also included in the current הזדמנויות definition?

[2019-10-22 19:30] noamoss commented on #395
@akariv

If you are one of [these organizations](https://next.obudget.org/s/?q=%D7%A1%D7%A4%D7%A8%D7%95%D7%AA&dd=associations&range=all&lang=he&theme=socialmap&org_kind=all&region=all&creds=all&public_funds=all), it might be relevant.

Now, this is a good question, but we should ask ourselves if we have a way (based on the current publications) to put aside these irrelevant publications (like a li

[2019-10-22 19:50] noamoss commented on #387
@akariv reminding we spoke about a need to prevent duplication back then (left as an open question) - this source is a good example for the need:

I just searched manually on the 'hakol-kore' for all of the currenty open publications.

Out of 11 publications 4 were not currently scraped, and consist valuable information for our users:

1. http://negev-galil.gov.il/MediaCenter/Tenders/Pages/park230

[2019-10-22 20:40] akariv commented on #387
Yes, I remember that.

But there are two big questions here -
1. How do we detect and remove the duplications? The wording can be quite
different between the different data sources.
and perhaps more importantly,
2. Why some office tenders are not published in the central portal and is
it possible that we're missing a lot more office tenders?

On Tue, Oct 22, 2019, 22:50 noamoss <notifications@gith

[2019-10-22 20:44] akariv commented on #395
How a poetry prize is an opportunity for a literary research organization?

The task here was to try and find these more focused datasets (support
criteria and dedicated estates) as data and pull them in the system, and
not the list of press releases that's currently required.

Iirc that data is in data.gov.il, but I'm not sure about the update
schedule or the resolution of the data.

On Tue, Oct

[2019-10-22 20:45] akariv commented on #389
All calls for bids, tenders and support criteria are included.

On Tue, Oct 22, 2019, 22:16 noamoss <notifications@github.com> wrote:

[2019-10-22 21:06] noamoss commented on #387
different between the different data sources.

Let's experiment, hopefully, we won't need to deal with corpora and lemmas. How does the following direction - any match of:
1. same publish date
2. same publisher
3. at least 3 identical words (if the title built of 5 words or longer) or 2 identical words (in case of a shorter title).

Probably because something or someone does not work well in the g

[2019-10-22 21:23] noamoss commented on #395
It might promote this piece of information among its active members. It might realize that it is possible to ask for public money for awards. I agree It is an edge case scenario (appropriate to the edge case example publication I chose at the demo :) ).

And we can not say for sure if everything moves from the announcements to the data.gov.il

criteria and dedicated estates) as data and pull them

[2019-10-22 21:24] #389 closed

[2019-10-25 12:07] noamoss commented on #386
A new item appears twice in the search results:

![image](https://user-images.githubusercontent.com/3581741/67570057-2c4dbf00-f739-11e9-9816-6dd2f26c5808.png)

[2019-10-25 12:12] noamoss commented on #405
@akariv I can not check this is working, as there are no open calls on the webpage (https://www.molsa.gov.il/Publications/Pages/PubAppealSearch.aspx). Will recheck soon and update here.

[2019-10-25 12:18] noamoss opened #407 "hakol hakore irrelevant opportunities in search results"
searched for 'כבאות והצלה' and saw irrelevant results

https://next.obudget.org/s/?q=%D7%9B%D7%91%D7%90%D7%95%D7%AA%20%D7%95%D7%94%D7%A6%D7%9C%D7%94&dd=opportunities&range=all&lang=he&theme=socialmap&kind=all&focused=no:

![image](https://user-images.githubusercontent.com/3581741/67570641-97e45c00-f73a-11e9-967e-5599716efa48.png)

my guess is the word כבאות is being queried also as באות, הבאות.

[2019-10-25 12:24] noamoss commented on #405
on the other hand, I see a duplication of item from this source with gov.il:

https://next.obudget.org/s/?q=%D7%A9%D7%99%D7%A4%D7%95%D7%A6%D7%99%D7%9D%20%D7%95%D7%94%D7%A6%D7%98%D7%99%D7%99%D7%93%D7%95%D7%AA%20%D7%91%D7%9E%D7%A2%D7%95%D7%A0%D7%95%D7%AA%20%D7%97%D7%A1%D7%95%D7%AA%20%D7%94%D7%A0%D7%95%D7%A2%D7%A8%20&dd=opportunities&range=all&lang=he&theme=socialmap&kind=all&focused=no

[2019-10-25 12:27] noamoss commented on #385
@akariv

did not find the following item on a manual check:

* https://www.gov.il/he/departments/publications/Call_for_bids/jewishidentity

The others are there.

[2019-10-25 15:24] akariv commented on #385
This is the one:

https://next.obudget.org/i/support_criteria/support_criteria/61706/63a8b6a0-82ae-4f79-a5e6-36d5df243ad3?li=0

On Fri, Oct 25, 2019 at 3:28 PM noamoss <notifications@github.com> wrote:

[2019-10-25 15:29] noamoss commented on #385
:+1:

[2019-10-25 15:29] #385 closed

[2019-10-25 20:04] akariv commented on #405
The link you provided is outdated - it doesn't show anything that's not a year old - we're currently getting MOLSA calls for bids and support criteria from gov.il publications only.

Not sure what duplication you're referring to...

<img width="1251" alt="Screen Shot 2019-10-25 at 23 03 38" src="https://user-images.githubusercontent.com/265333/67600877-b6b71280-f77b-11e9-9adf-96ef0151019a.png">

[2019-10-25 20:11] akariv commented on #395
I don't think you're understanding what I'm trying to say.
There are two datasets here that are actually important:
- ths list of support 'areas' which are defined on a yearly basis (we should locate their source - I only found a textual description of them in a pdf: https://www.gov.il/he/departments/news/new_19319
- the dedicated inheritances which you can apply for: https://www.gov.il/he/departm

[2019-10-26 09:54] akariv commented on #395
I think I found the second one -
https://data.gov.il/dataset/ezvonot2018

[2019-10-26 10:02] noamoss commented on #395
this is the part I am not sure I understand/agree with:

espcially if we don't have a sustainable source for the support criteria 'areas'

---

:clap: :clap: :clap:

[2019-10-26 10:06] noamoss commented on #405
may bad, I got confused. sorry.

Going back to my original reposnse:

 I can not check this is working, as there are no open calls on the webpage (https://www.molsa.gov.il/Publications/Pages/PubAppealSearch.aspx). Will recheck soon and update here.

[2019-10-26 11:02] akariv commented on #405
Again, this page didn't update with anything new for a year now so don't
hold your breath.

On Sat, Oct 26, 2019 at 1:06 PM noamoss <notifications@github.com> wrote:

[2019-10-26 11:15] noamoss commented on #405
don't blame me for my hobbies :)

[2019-10-26 12:32] akariv commented on #405
What I'm trying to say is they're now publishing using gov.il standard
publications mechanism

On Sat, Oct 26, 2019 at 2:15 PM noamoss <notifications@github.com> wrote:

[2019-10-26 12:33] akariv commented on #405
See here:

https://www.gov.il/he/departments/publications/?limit=10&publicationType=7159e036-77d5-44f9-a1bf-4500e6125bf1&rfpStatusType=c8ed2e3c-e5a9-4101-93f5-bae798c4ac1d&OfficeId=4fa63b79-3d73-4a66-b3f5-ff385dd31cc7

On Sat, Oct 26, 2019 at 3:32 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2019-10-26 13:45] akariv commented on #388
https://next.obudget.org/i/calls_for_bids/call_for_bids/703997173/0?li=0

[2019-10-26 13:48] #388 closed

[2019-10-26 13:56] akariv commented on #386
fixed the duplication

[2019-10-26 14:33] noamoss commented on #386
@akariv it works.

Could you explain what/how did you fix it?

[2019-10-26 14:40] noamoss commented on #388
I approve checking and finding the two relevant items on social map.

@akariv I guess we will have to tackle it elsewhere, but both items appeared really(!) down in the results list, even when I typed in the entire title.

[2019-10-26 14:42] noamoss commented on #405
@akariv I saw that, I am just not sure they entirely/officialy stopped using their website, based on the fact (or my understanding) they are still publishing tenders the like before (https://www.molsa.gov.il/Tenders/Pages/ServicesTendersSearch.aspx).

[2019-10-26 15:23] akariv commented on #386
Deleted some old data

On Sat, Oct 26, 2019, 17:33 noamoss <notifications@github.com> wrote:

[2019-10-26 15:30] akariv commented on #405
Who knows... Either way, for tenders as well the data in minhal harechesh
seems to be more complete and based on their disclaimer, more up.to date.

On Sat, Oct 26, 2019, 17:42 noamoss <notifications@github.com> wrote:

[2019-10-27 08:51] noamoss commented on #386
@akariv so it was just an old data issue? did you implement a double-entity check for this source?

[2019-10-27 08:53] noamoss commented on #405
@akariv

seems to be more complete and based on their disclaimer, more up.to date.

I guess you are right, but as your wrote, who knows...

Just to make sure - do you still scrape this source and added a double-enetity check for this source?

[2019-10-27 08:58] akariv commented on #386
yes and no

On Sun, Oct 27, 2019 at 10:51 AM noamoss <notifications@github.com> wrote:

[2019-10-27 09:00] akariv commented on #405
no, we only use gov.il and MR sources for this office.

On Sun, Oct 27, 2019 at 10:53 AM noamoss <notifications@github.com> wrote:

[2019-10-27 09:08] noamoss opened #408 "open/close opprtunities for items with no due date"
following a use report:
![image](https://user-images.githubusercontent.com/3581741/67632140-5bcf0980-f8a8-11e9-8100-860219452b6e.png)

I guess the challenge here is that we don't have a 'due date' value to populate. Both provided examples are 'מבחן תמיכה', but I assume we might find similar scenarios with other content types.

My idea:
1. Decide that these should be defined 'unknown' and keep it o

[2019-10-27 09:09] noamoss commented on #386
so we should keep this issue open until we have a validation, to ensure it works

[2019-10-27 09:19] noamoss commented on #405
ok, I tried to challenge your assumption, but did not find a relevant item that is missing on our search. Closing this issue.

[2019-10-27 09:19] #405 closed

[2019-10-27 09:54] akariv commented on #386
What is the other source of data that might cause duplication errors?

On Sun, Oct 27, 2019 at 11:09 AM noamoss <notifications@github.com> wrote:

[2019-10-27 10:19] akariv commented on #395
the press release about the fact that the data exists is of no interest to us because it's neither a call for bids or a support criteria document.
If we could parse its contents (or find them somewhere else), we could take the different support areas and convert each one to a proper item in our db.

[2019-10-27 16:35] akariv commented on #346
This page stopped working... I'll retry in a few days.

[2019-10-27 17:06] akariv commented on #347
We need to talk about this source - it's very problematic.

[2019-10-27 17:13] akariv commented on #393
From what I checked, all items I sampled in the Justice website also appeared in the MR one -

your example, for example, also appears there:

https://www.mr.gov.il/officestenders/Pages/officetender.aspx?pID=634564

[2019-10-27 18:27] noamoss commented on #395
but it might be an indication of potential opportunity. Don't you think? I mean, isn't it a way to MISS an important update/budget for NGOs?

[2019-10-27 18:46] noamoss commented on #386
minhal harekesh?

![תמונה](https://user-images.githubusercontent.com/3581741/67639616-a8433500-f8fa-11e9-9957-d49c3ceea48a.png)

gov.il?
![תמונה](https://user-images.githubusercontent.com/3581741/67639641-e3ddff00-f8fa-11e9-801c-dd58b7516d5b.png)

[2019-10-27 18:49] noamoss commented on #346
(works for me, one published item)

[2019-10-27 18:57] noamoss commented on #393
👍
I will keep it open to recheck. Right now all 3 opportunities jump in the social map as well.

[2019-10-27 19:32] akariv commented on #395
In our system we scrape and store actual, concrete opportunities - with
proper dates, and relevant information on each one.
A press release indicating the possible existence of some opportunity -
which without opening and browsing through a pdf document I won't be able
to know if it's relevant to me or not - is not very useful.
To most people it would be a waste of time and anyway users wouldn't e

[2019-10-27 21:55] noamoss commented on #395
convinsed. what's now?

[2019-10-27 23:10] akariv commented on #386
Yes, this issue is not about tenders but calls for bids... there's no calls
for bids from the education ministry in either gov.il or MR...

On Sun, Oct 27, 2019 at 8:46 PM noamoss <notifications@github.com> wrote:

[2019-10-27 23:12] akariv commented on #395
bad news - the files in data.gov.il are regularly updated (last update was
last week) but all files are empty.
Send a request in the contact form, if this doesn't work I'll try my
data.gov.il connections....

On Sun, Oct 27, 2019 at 11:55 PM noamoss <notifications@github.com> wrote:

[2019-10-28 18:36] noamoss commented on #395
done. Also, update issue's description.

[2019-11-02 09:47] noamoss commented on #407
@akariv another relevant example from this week update email:

![image](https://user-images.githubusercontent.com/3581741/68069042-eb226400-fd63-11e9-8c1c-0f3533bef4cd.png)

the word הדרכה does not appear [in the item content](https://next.obudget.org/i/calls_for_bids/call_for_bids/655826910/0).

BTW, I am not sure, but this issue might be related/uplication of #356. Feel free to unify them.

[2019-11-02 09:51] noamoss commented on #408
see https://github.com/OpenBudget/BudgetKey/issues/407#issuecomment-549028173 - might be relevant here as well.

[2019-11-04 09:08] MaaikeB commented on #274
@akariv I think this task was implemented, no? Can you close it?

[2019-11-04 10:33] akariv commented on #391
Following our previous discussions, aggregated items have no place in our current system and are of little value generally (as they are not discoverable and contain very little useful information).

On the other hand, it seems that the relevant information is all published as 'tenders' here:

https://www.gov.il/he/departments/publications?OfficeId=27db3169-ab0e-490c-af70-6d03133cb1f3&limit=10&publ

[2019-11-04 10:44] akariv commented on #390
Seems that all of these are already in the system.

Verification -
Opened the link: https://www.gov.il/he/departments/general/ministry_support

Chose an old file:
<img width="533" alt="Screen Shot 2019-11-04 at 12 40 07" src="https://user-images.githubusercontent.com/265333/68115256-a67fff80-ff00-11e9-9035-f2ceb3b9bc42.png">

Chose the first row in the file:
<img width="788" alt="Screen Shot 2019-

[2019-11-04 10:50] akariv commented on #392
The link seems to be already dead - https://www.gov.il/he/Departments/General/government_support is the new one I think.

Also, it seems all support criteria documents there are already in our system, e.g.:

https://next.obudget.org/i/support_criteria/support_criteria/220282023/0?li=0

[2019-11-04 11:07] akariv commented on #394
Once again -
- The link is dead (long live the new link https://www.gov.il/he/Departments/publications/reports/class_action_law)
- here is already information in the ezvonot database that is somewhat overlapping with the data here For example, see:

  <img width="596" alt="Screen Shot 2019-11-04 at 13 05 38" src="https://user-images.githubusercontent.com/265333/68116583-dda3e000-ff03-11e9-85e5-561

[2019-11-04 11:11] akariv commented on #395
@noamoss to add a new spec for handling the data.gov.il files (preferably in a new issue and closing this one).

[2019-11-04 11:55] noamoss commented on #391
@akariv

We better not make a general rule, and check each source separately. This source includes some relevant content, as you said.

not only as 'tenders' also as 'תמיכות ומענקים':
https://www.gov.il/he/departments/publications?OfficeId=27db3169-ab0e-490c-af70-6d03133cb1f3&limit=10&publicationType=7b76d87f-d299-4019-8637-5f1de71c9523

If we cover both, it seems to be not perfect, but good enoug

[2019-11-04 13:03] noamoss commented on #390
I can approve checking a couple of and finding them all in the obudget (checked later years). What is the current source you are using? Did you alread upload it manually before?

[2019-11-04 14:03] akariv commented on #391
both קולות קוראים and תמיכות ומענקים are already being fetched from gov.il
regardless of the publisher so naturally that's covered.
My comment referred to מכרזים, which we're not fetching as it might
duplicate with data from mr.gov.il.

In order to avoid duplication, we can fetch מכרזים only for this publisher,
and use the phrase I mentioned to filter out items which exist in both
sources.

@noamo

[2019-11-04 14:27] akariv commented on #390
This is the supports database, it's being uploaded (manually at this point)
every few months.

@Noamoss <noamoss@gmail.com>

On Mon, Nov 4, 2019 at 3:03 PM noamoss <notifications@github.com> wrote:

[2019-11-04 18:15] noamoss commented on #392
@akariv

could not find "פרסום מבחנים לתמיכה במוסדות ציבור בתחום ההכנה לגיור"

BTW, could not find also  "תמיכות לזכרו ופועלו של השר רחבעם זאבי ז"ל (גנדי)"

both are available on  https://www.gov.il/he/Departments/General/government_support

[2019-11-04 18:23] noamoss commented on #394
@akariv

which two? please be explicit

do you suggest that because of the structure of the source or because of a potential duplication?

I can see why scraping such a thin source might feel like a waste of time, but on the other hand- this page seems to be stable and keeps updating once in a while during the last 1.5 years. I am not sure making it a manually updating is maintainable.

[2019-11-04 18:57] noamoss commented on #394
Following our quick talk: we decided to split the two sources, for now. Once done, we can open a new (future) issue to explore ways to combine.

[2019-11-04 19:09] noamoss commented on #394
agreed.

[2019-11-04 19:09] noamoss commented on #391
agreed

[2019-11-04 19:10] #390 closed

[2019-11-04 19:14] akariv commented on #387
Sent mail to drors@pmo:

שני אדם ואני עובד בפרויקט ״רכש פתוח״ של הסדנא לידע ציבורי וחוקר את במסגרת הפרויקט את עולם המכרזים הממשלתיים.

אודה לך מאוד אם תוכל לעזור לי בנקודה קטנה שאני מנסה להבין.

אני מסתכל על אתר המשרד ורואה שם מספר מכרזים משרדיים (למשל 16/2019 או 23/2019).
אולם, כאשר אני משווה למידע המופיע באתר מנהל הרכש הממשלתי, רק חלק מן המכרזים הללו מופיעים.
ספציפית, המכרזים 9,12,13,14,15/2019

[2019-11-05 20:21] akariv commented on #392
https://next.obudget.org/s/?q=%D7%A8%D7%97%D7%91%D7%A2%D7%9D%20%D7%96%D7%90%D7%91%D7%99&dd=supports&range=all&lang=he&kind=support_criteria

https://next.obudget.org/i/support_criteria/support_criteria/149922802/0?li=4

[2019-11-05 20:21] #392 closed

[2019-11-05 20:22] akariv commented on #386
@noamoss can this be closed?

[2019-11-05 20:26] akariv commented on #394
Sample item:

https://next.obudget.org/i/calls_for_bids/call_for_bids/873700058/07/2019?li=9

[2019-11-05 20:27] akariv commented on #391
Sample item:

https://next.obudget.org/i/calls_for_bids/call_for_bids/51100/d93361de-ca24-471e-a001-47bb99d39c72?li=9

[2019-11-05 20:27] #391 closed

[2019-11-06 00:53] #386 closed

[2019-11-08 15:30] noamoss commented on #347
@akariv
bringing it up again, as it seems like we did not talk about it eventually.
Can you summarize here, or prefer to talk on Sunday?

[2019-11-08 15:30] noamoss commented on #346
@akariv ^^^^ ???

[2019-11-08 15:44] noamoss commented on #393
I rechecked and can approve finding all items in our search results. closing issue.

[2019-11-08 15:44] #393 closed

[2019-11-08 15:48] noamoss commented on #387
@akariv I guess you did not hear back, right?

can we move forward by adding the source for the items we don't have from MR?

[2019-11-08 15:54] noamoss commented on #394
@akariv looks good, and works fine.

One small visual fix is needed: the attached file is displayed without name (which makes it not really clear as a downloadable resource). I think we should use the convention in the source and display a 'קול קורא' label:
![image](https://user-images.githubusercontent.com/3581741/68489900-b4ab8400-0250-11ea-9921-495586c85d51.png)

![image](https://user-images.gi

[2019-11-08 15:57] noamoss opened #409 "Invalid date should be displaed in hebrew"
https://next.obudget.org/i/support_criteria/support_criteria/149922802/0?li=4:

![image](https://user-images.githubusercontent.com/3581741/68490093-123fd080-0251-11ea-899f-cdb0964ebd1f.png)

[2019-11-08 16:11] noamoss commented on #343
@akariv can you clarify/answer my question

[2019-11-08 16:11] #343 closed

[2019-11-09 22:05] noamoss commented on #395
@akariv sent you some questions on slack, will close this issue for a new one when we decide how to continue.

[2019-11-10 08:51] akariv commented on #390
An update on this issue - although we closed it, I think that manual scraping (with such a low frequency) is not very sustainable.
So I added an automatic scraper for the supports source to run daily.

[2019-11-10 08:51] akariv commented on #390
/cc @noamoss

[2019-11-10 11:59] akariv commented on #346
Let's keep open and poll periodically for anything relevant @noamoss

[2019-11-10 12:00] akariv commented on #347
We did speak about it - since it's a links only source (no actual info or dates), we said we'd scrape this and have the mechanism described in #408 to support it.
Makes sense to you @noamoss ?

[2019-11-10 12:02] akariv commented on #347
And the comment above is actually relevant to #348, not to here.

[2019-11-10 12:02] akariv commented on #348
Since it's a links only source (no actual info or dates), we said we'd scrape this and have the mechanism described in #408 to support it.
Makes sense to you @noamoss ?

[2019-11-10 12:34] akariv commented on #347
Anyway, this issues seems irrelevant as all the interesting info in the 'last publications' box also appears in the main text of the page:
<img width="781" alt="Screen Shot 2019-11-10 at 14 32 16" src="https://user-images.githubusercontent.com/265333/68544005-0b3ace80-03c7-11ea-831d-1177f523c314.png">

[2019-11-10 12:34] #347 closed

[2019-11-10 12:34] akariv commented on #347
(so basically a duplicate of #348)

[2019-11-10 12:45] akariv commented on #344
The discussion in #310 was inconclusive (and not sure it included tenders at all)...

Anyhow, looking at this year's tenders is very difficult -
this page is still loading 1 attempt in 20 (which makes its scraping extremely difficult):
<img width="955" alt="Screen Shot 2019-11-10 at 14 40 25" src="https://user-images.githubusercontent.com/265333/68544123-7df87980-03c8-11ea-9161-5bbaab778abe.png">

[2019-11-10 15:06] noamoss commented on #348
@akariv yes, sounds like it is the best we can offer here.

[2019-11-10 15:09] noamoss commented on #347
@akariv indeed, but for me these are two different checks later.

[2019-11-10 15:09] noamoss commented on #344
@akariv agreed. I will add a comment to the sources table to clarify it.

[2019-11-10 15:09] #344 closed

[2019-11-10 15:45] akariv commented on #347
What checks?

[2019-11-11 08:12] akariv commented on #348
Example

https://next.obudget.org/i/support_criteria/support_criteria/516032133/0?li=11

[2019-11-11 08:18] akariv commented on #409
Example:
https://next.obudget.org/i/support_criteria/support_criteria/124852938/0?li=7

(notice the links changed)

[2019-11-11 08:18] #409 closed

[2019-11-11 09:56] akariv opened #410 "Search Benchmarking Tool"
## Motivation:
We want to be able to benchmark our search performance - basically to make sure are actually finding what they are searching for in the highest positions in the search results.

By having a fixed and stable measure we can test the performance of the search engine and monitor changes when data changes or our code changes (sometimes both at the same time). Also we can test modificatio

[2019-11-11 09:59] MaaikeB commented on #410
:+1: I like the issue, thanks

[2019-11-11 15:49] noamoss commented on #347
forget it, closing.

[2019-11-11 15:57] noamoss commented on #348
@akariv  I am reopening this issue for two reasons:

1. The source page is under construction, and therefore I can not perform QA.
2. You pointed to #408 and implemented the first option described there. I think we need to add an indication (constant place holder) explaining the situation to the user: "לא הצלחנו לאתר במקור המידע הממשלתי את התאריך בו נסגרת ההרשמה".

assuming the status will be chan

[2019-11-11 16:16] akariv commented on #348
I didn't start working on #408 yet.

I'm reassigning this to you to QA once page is back online and #408 is ready.

[2019-11-14 14:51] akariv commented on #408
To be more elaborate on the spec (@noamoss please review) -

- If the item has a 'claim date' (מועד הגשה):
  - if current date is before the claim date:
    - set the status to פתוח
  - else
    - if the item already has a status (from scraping)
      - leave the status as is
    - else:
      - set the status to 'סגור'
- else
  - if publication date is known (from scraping) use it, else use the d

[2019-11-14 18:03] noamoss commented on #408
@akariv

first part looks ok, for the second part see my comments below:

status should be 'פתוח'.
חדש, from the user perspective, is not a status, but an extra indication/piece of information about an open (חדש) status. It is also relevant for items with unknown claim date for the first X (...sorry, don't remember our current definition) days/weeks after it appears on our site, just like for the

[2019-11-14 19:23] akariv commented on #408
Ah, this is just a summary of what we talked about.
The logic in our conversation is that if we can't ensure 100% that an item is actually open, then we shouldn't advertise it as such (and thus avoid confusing users), and use a weaker promise - not 'open' but rather 'recently published' (which might mean it's still open but not necessary).
Having a 'closed' status after 4 weeks is also wrong - it

[2019-11-15 14:01] akariv commented on #394
Done:

https://next.obudget.org/i/calls_for_bids/call_for_bids/869230893/07/2019?li=0

[2019-11-15 14:01] #394 closed

[2019-11-15 19:56] noamoss commented on #394
checked and approved on live.

[2019-11-15 20:11] noamoss commented on #387
this issue will remain open to verify later wether we should complete missing (closed) items from that were not entered to the data.gov portal.

[2019-11-15 20:38] noamoss commented on #408
@akariv

### discussion:

you are right. it has been too long, I forgot this part.

פעיל, ממתין לתוצאות are two examples

1. You are right, I forgot it all since the last time I worked on it. Still, correct me if I am wrong: חדש and פתוח are not at the same label hierarchy. right?

2. The truth is I was mainly concerned about the emails, but this discussion brings up, maybe, a better way we could

[2019-11-19 11:45] akariv commented on #383
Example with tips: https://next.obudget.org/i/tenders/exemptions/629120/none?li=12
Example with awardees: https://next.obudget.org/i/tenders/central/553417/1-2014?li=0
Examples of a long description:
- https://next.obudget.org/i/calls_for_bids/call_for_bids/642538903/0}
- https://next.obudget.org/i/support_criteria/support_criteria/272659091/0
Example for an interesting contract spending:
- https:

[2019-11-19 12:18] #381 closed

[2019-11-19 19:43] noamoss commented on #408
@akariv reopening, as you did not relate to my qa findings, see above.

[2019-11-19 19:56] noamoss commented on #383
@akariv checked with two devices, looks great.

three glitches found:

1. long link is going out of the container ([link](https://next.obudget.org/i/support_criteria/support_criteria/272659091/0):
![תמונה](https://user-images.githubusercontent.com/3581741/69180997-f96bd080-0b16-11ea-9272-5a22ebbc4067.png)

2. the timetable labels are shortened, and can not be understood (תש, צר):

![תמונה](https:/

[2019-11-19 20:05] noamoss commented on #382
@akariv

similiar to the tender page findings: a long link is running out of the container borders, see https://next.obudget.org/i/support_criteria/support_criteria/276639186/None?li=0&theme=socialmap

[2019-11-20 12:04] #382 closed

[2019-11-20 12:15] noamoss commented on #383
@akariv

1. fixed
2. looks better, but now we see the '%' without the real data (see screenshot below). I think we could give up on this piece of info (due to the fact we have the pie graph). The other solution is to push the number in a separate line.
3. the visual solution works, but to tooltip remains when I scroll down/up. Expected behavior: first click to hide it.
4. fixed
5. fixed

---

![im

[2019-11-20 12:16] noamoss commented on #382
checked and approved on live.

[2019-11-20 12:30] akariv commented on #408
Yes and no. We're talking about the status here, so the only thing we know about the status is that if it was recently published, it's probably open (although we can't be sure).
We could use a more accurate 'כנראה פתוח' or 'פורסם לאחרונה' instead (but let's keep it simple).

We've been calculating and simplifying the status for a long time, all the way back from open-procure. Not sure what is diff

[2019-11-20 14:30] noamoss commented on #408
agree, we should keep it simple. I would stay with פתוח using the same logic we defined: 4 weeks open fo unknown open/closing date. My new idea is to change "פרסום ראשון:" to "פורסם באתר:" and to add another label to the body: "מועד פרסום: לא ידוע" (just like you did for the due date.

I believe that a tool on both ("מועד פרסום: לא ידוע" and "מועד סגירה: לא ידוע") with the explanation I offered is

[2019-11-21 18:10] akariv commented on #383
2. fixed
3. added message to tooltip

[2019-11-21 18:10] #383 closed

[2019-11-21 18:25] akariv commented on #408
Implemented.

That's what you get for running QA before the issue had been closed.
You should be able to see it now.

[2019-11-21 21:32] maryLoi opened #411 "קול קורא: תיבת "איך פונים" משוכפלת אינסוף פעמים"
https://next.obudget.org/i/calls_for_bids/call_for_bids/642538903/0?li=15

![image](https://user-images.githubusercontent.com/8996235/69378482-23f48f80-0cb7-11ea-856e-c2a8c236cdf7.png)

[2019-11-21 21:35] maryLoi opened #412 "קולות קוראים כפולים"
![image](https://user-images.githubusercontent.com/8996235/69378693-92395200-0cb7-11ea-86d8-275b84a9e714.png)

https://next.obudget.org/s/?q=%D7%91%D7%A7%D7%A9%D7%95%D7%AA%20%D7%9C%D7%AA%D7%9E%D7%99%D7%9B%D7%94%20%D7%9E%D7%AA%D7%A7%D7%A6%D7%99%D7%91%20%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%AA%D7%A8%D7%91%D7%95%D7%AA&dd=supports&range=last_month&lang=he&kind=calls_for_bids

[2019-11-22 05:51] akariv commented on #411
Thanks!

[2019-11-22 05:51] #411 closed

[2019-11-22 11:48] noamoss commented on #408
checked and approved on live.

@akariv I set a reminder to revisit this check on Dec 2, to verify the status change.

[2019-11-22 11:53] noamoss commented on #383
checked and approved

[2019-11-22 11:57] noamoss opened #413 "arrange login screen on mobile"
![image](https://user-images.githubusercontent.com/3581741/69423894-fa2b7f00-0d2f-11ea-9ae0-66e99741a072.png)

[2019-11-22 12:31] noamoss opened #414 "hakol-kore: refresh action tips"
I updated the following files with new content, please implement, and let me know when ready for check:

* Tenders: https://docs.google.com/spreadsheets/d/1JkZooBwoxKPlrXWWwUtNHLMdxc-iG0n5tdGZ23I8fYY/edit#gid=1250185114

* Tooltips: https://docs.google.com/spreadsheets/d/1ztsoslfvEiQS1jSTrivU6chvyAySIIV9tad0L1ZKGj8/edit?usp=sharing

We have been also asked to add action tips to support criteria an

[2019-11-22 12:36] noamoss opened #415 "weired "read more" button on a support criteria desktop view"
https://next.obudget.org/i/support_criteria/support_criteria/277921768/0?li=1&theme=socialmap

![image](https://user-images.githubusercontent.com/3581741/69426136-272e6080-0d35-11ea-9112-c631a03b1a5d.png)

[2019-11-22 13:08] noamoss opened #416 "add queries to "support critera", "tenders", "call for bids" pages"
## support critera
1. question: כל הקולות הקוראים שפורסמו על ידי הגורם המפרסם של העמוד

 query:
[code]
**query parameters (let the user change):**
* decision
* start_date (choose years)
* due_date (choose years)

-------

2. כל העמותות והארגונים שהיתה להם התקשרות מתועדת עם הגורם המפרסם

3. כל העמותות והארגונים שקבלו תמיכה מהגורם המפרסם

## tenders

## call for bids

[2019-11-22 13:16] #415 closed

[2019-11-23 09:54] #413 closed

[2019-11-23 10:30] maryLoi opened #417 "פיצ'ר: להוסיף לגרף התקציב קו מקווקו להוצאות מדווחות"
חשוב לקבל עומדן כמה נתוני ההוצאות מלאים

[2019-11-23 19:22] #399 closed

[2019-11-23 21:35] akariv commented on #270
@noamoss does this issue reproduce for you? I tried FF and Chrome but both seem to be working.
It's been a long time since you opened it and it seems that it was solved in the time since.

[2019-11-23 21:55] noamoss commented on #270
can't reproduce

[2019-11-23 21:55] #270 closed

[2019-11-23 21:59] noamoss opened #418 "fix login/logout gap between socialmap homepage and the saved searches page"
the same scenario happened with two different browsers (ff & chrome):

1. browsing to the socialmap home page as an anonymous user.
2. clicking on התחברות and logging in
3. clicking on the התראות שמורות -->

the saved search behaves like I am still anonymous. I had to click "התחברות" again to see my saved search.

same happens backward as well: if I log out (התנתקות) from the saved searches page a

[2019-11-23 22:02] noamoss opened #419 "fix socialmap about-us mobile display"
on https://next.obudget.org/about/?theme=socialmap (mobile display):

![image](https://user-images.githubusercontent.com/3581741/69485893-f3932980-0e4d-11ea-93a3-9bc0cfe54e5f.png)

1. fix logging avatar
2. search icon leads to the next.obudget search, instead of the social map customized search.

[2019-11-23 22:06] noamoss commented on #399
checked and approved

[2019-11-23 22:10] noamoss commented on #414
@akariv
could not find the expected updated action tip on two open tenders (central + office):

* https://next.obudget.org/i/tenders/central/641227/15-2019?li=0&theme=socialmap

* https://next.obudget.org/i/tenders/office/642023/5/2019?li=8&theme=socialmap

am I missing something?

(this is the expected tip, I added to the file: "

למידע נוסף על השתתפות במכרזים ממשלתיים ראו באתר האוגדן

http://hao

[2019-11-23 22:12] noamoss commented on #306
@akariv since Dima was the one to report this bug, can you explain what did you do with this issue, so I can verify it works?

[2019-11-23 22:14] noamoss commented on #413
checked and approved.

[2019-11-24 11:40] akariv commented on #412
Since we don't have a unique id of each of these items that we're scraping, we're auto-generating one from a combination of their name, description and dates.
This means that if an item changes in some way, it will usually appear as a new item and not as a replacement for the old one (as we can't tell if it's the same one that changed or really a new one).
In this case, while the items' title is i

[2019-11-24 11:40] #412 closed

[2019-11-24 11:55] akariv commented on #306
The period part in the subscription was irrelevant (as we don't take the period into account anyway when sending the emails).
I simply removed it from the display instead of fixing the associated bug (which only occurs with very early subscriptions).

[2019-11-24 11:55] #306 closed

[2019-11-24 17:04] akariv commented on #419
Fixed

[2019-11-24 17:04] #419 closed

[2019-11-24 17:18] noamoss commented on #419
checked and approved.

[2019-11-24 17:49] noamoss opened #420 "fix socialmap about-us page title + favicon"
![image](https://user-images.githubusercontent.com/3581741/69498695-74583100-0ef3-11ea-93e9-1e3633acd3e6.png)

[2019-11-24 19:36] akariv commented on #414
Action tips get updated every day or so.

[2019-11-24 19:36] #414 closed

[2019-11-24 20:09] maryLoi opened #421 "קישור שבור לתמיכה"
https://next.obudget.org/i/budget/000461/2015?theme=budgetkey

![image](https://user-images.githubusercontent.com/8996235/69500809-0c134a80-0f07-11ea-8c68-31fb5aa862c4.png)

[2019-11-24 20:21] #420 closed

[2019-11-24 21:58] noamoss commented on #414
checked and approved.

[2019-11-24 22:03] noamoss commented on #406
@akariv updated definitions, following Dorit's recent request.

[2019-11-24 22:04] noamoss commented on #420
checked and approved

[2019-11-24 22:07] noamoss commented on #387
@akariv this is the time, I would recommend adding the missing pieces. What do you think?

[2019-11-24 22:09] noamoss commented on #346
rechecked, nothing relevant will keep watching.

[2019-11-24 22:14] noamoss commented on #348
checked and approved. perfect.

[2019-11-24 22:14] #348 closed

[2019-11-25 08:01] akariv commented on #387
I think it's probably not worth the time to manually add to the database 4 closed tenders.
There are probably more pressing issues to handle first...

[2019-11-25 17:53] noamoss opened #422 "create publisher page"

[2019-11-25 18:46] noamoss opened #423 "add guidestar support_criteria scraping"
we will scrape the new support_criteria page from guidestar and:

1. try to dedicate whether it is a new source or a repeating one.

2a. if there is no existing resource, create a new item/publish based on this source.

2b. if it is and existing resource, we will check Guidestar last publish/update date, and update the fields in the item add the סעיף תקציבי. notice to change also the publish_url t

[2019-11-25 19:21] noamoss opened #424 "add action tip to all support_criteria pages"
עוד על קבלת תמיכות ממשרדי הממשלה באתר האוגדן
link:
http://haogdan.migzar3.org.il/%D7%AA%D7%9E%D7%99%D7%9B%D7%94_%D7%9E%D7%9E%D7%A9%D7%A8%D7%93_%D7%9E%D7%9E%D7%A9%D7%9C%D7%AA%D7%99

[2019-11-29 12:27] noamoss commented on #398
@akariv  reopening issue with a bug report:

first sections look fine on mobile, but starting the "בקשות חדשות לפטור ממכרז" all search titles are broken:

![Screenshot_2019-11-29-14-20-32-675_com google android gm](https://user-images.githubusercontent.com/3581741/69868985-2a38cc00-12b4-11ea-9e33-44b8b49ffb0b.jpg)

[2019-11-29 12:38] noamoss commented on #395
sent the following request:

![image](https://user-images.githubusercontent.com/3581741/69869574-e050e580-12b5-11ea-9fc1-34a5d8e673e6.png)

[2019-11-29 13:05] noamoss commented on #418
reminder: the new request is to remove the textual credit, and use 4 logso instead:

* in a desktop display 2 X 2
in a mobie display: 1 X 4 (one logo per row)

![image](https://user-images.githubusercontent.com/3581741/69870759-9538d180-12b9-11ea-8f0d-f5816179acac.png)

[2019-11-29 13:07] noamoss opened #425 "socialmap/hakol-kore: update about-us resources list"

[2019-11-29 15:42] akariv commented on #418
This last comment doesn't really belong here, right @noamoss?

On Fri, Nov 29, 2019, 15:05 noamoss <notifications@github.com> wrote:

[2019-11-29 15:43] akariv commented on #398
Any information on the device maker / UI language / email client?

On Fri, Nov 29, 2019, 14:27 noamoss <notifications@github.com> wrote:

[2019-11-29 20:40] noamoss commented on #418
@akariv right, deleted and moved to the right place. Apolgizations.

[2019-11-29 20:41] noamoss commented on #406
@akariv sorry, we need to reopen this issue:

reminder: the new request is to remove the textual credit, and use 4 logso instead:

* in a desktop display 2 X 2
in a mobie display: 1 X 4 (one logo per row)

![image](https://user-images.githubusercontent.com/3581741/69870759-9538d180-12b9-11ea-8f0d-f5816179acac.png)

[2019-11-29 20:43] noamoss commented on #406
reminder, migdal's logo is in the about page: https://next.obudget.org/about/?theme=socialmap

[2019-11-29 20:44] noamoss commented on #398
gmail app on android, redmi 7

[2019-12-04 18:36] maryLoi opened #426 "מחזור כספי שנתי- צריך לכתוב ל-2018 ולא 2019"
קיבלתי הערה שהמחזור האחרון המדווח הוא המחזור בשנת 2018. מדווחים עליו לרשם העמותות בשנת 2019

[2019-12-04 18:44] maryLoi opened #427 "דף ריכוז התקשרויות במכרז - אין קישור להתקשרויות הנפרדות"
יש דף כזה
https://next.obudget.org/i/tenders/office/557983/46/14?li=4 

והינה שני דפים ששייכים אליו, אבל בעצם אין קשר ביניהם - אי אפשר להגיע מהאחד לשני 

https://next.obudget.org/i/contract-spending/%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%9B%D7%9C%D7%9B%D7%9C%D7%94/4501151115/0036420121

https://next.obudget.org/i/contract-spending/%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%9B%D7%9C%D7%9B%D7%9C%D7%94/45011

[2019-12-06 17:51] #424 closed

[2019-12-07 21:35] noamoss commented on #406
@akariv

1. now, with the joint logo, please omit the textual box beneath:

![image](https://user-images.githubusercontent.com/3581741/70380824-ded48c80-1949-11ea-9ad3-442c47e4045f.png)

2. add the requested text to the migdal logo square: ""בשיתוף פעולה בתוכנית חברתית עם מגדל חברה לביטוח".

If that's a problem, please add it at least to the hover tooltip.

3. fix mobile display:

![image](https:/

[2019-12-07 21:37] noamoss commented on #424
checked on live and approved.

[2019-12-07 21:53] noamoss commented on #398
also, see the following errors on my laptop ([whatismybrowser details)](whatismybrowser.com/w/4JMCNJR):

![image](https://user-images.githubusercontent.com/3581741/70381031-7935cf80-194c-11ea-9af5-212a50e63074.png)

[2019-12-07 21:55] noamoss commented on #398
If I am not mistaken, only the top section of the email behaves and looks ok both on mobile and wider screens.

[2019-12-08 20:15] maryLoi opened #428 "תוכן קול קורא לא מעודכן"
פרסום במפתח

https://next.obudget.org/i/calls_for_bids/call_for_bids/271726178/0?li=9&theme=socialmap

א. הקישור לפרסום המקורי לא רלוונטי כי מוביל לאתר בית של ג'וביז
ב. הקישור שבגוף הטקסט מוביל לפרסום בגוב עם טקסט אחר, שכולל גם מועד הגשה ומסומן בסטטוס סגור, אף כבפתח הוא מסומן כפתוח

https://www.gov.il/he/Departments/publications/Call_for_bids/promoting-employment-bedouin-women

[2019-12-08 20:42] maryLoi opened #429 "תאריך פרסום ותאריך הגשה לא נכון של קול קורא"
https://next.obudget.org/i/calls_for_bids/call_for_bids/92535/53e4419f-5df5-4816-be9b-042f7ab7bbcf?li=21&theme=socialmap

ק.ק. מ-2018 שבו כתוב

מועד פרסום:  31/12/2019 11:30
מועד סגירה:  31/12/2019 11:30

[2019-12-08 21:25] maryLoi opened #430 "מבחן תמיכה ריק"
בחיפוש כללי של כל מבחני תמיכה יש כמה רשומות ריקות,

https://next.obudget.org/i/support_criteria/support_criteria/138651074/0?li=49&theme=socialmap
![image](https://user-images.githubusercontent.com/8996235/70396470-f0816700-1a11-11ea-951b-111a21cea200.png)

[2019-12-10 17:45] #406 closed

[2019-12-10 18:15] noamoss opened #431 "missing gov.il publicaiton"
missing publication (kol kore) from gov.il:

קול קורא להצעת התערבויות טיפוליות עבור גברים פוגעים ונפגעים במערכות יחסים זוגיות

https://www.gov.il/he//departments/publications/Call_for_bids/molsa-voice-of-call-30-11-2019

[2019-12-10 18:15] noamoss commented on #431
(reported by @maryLoi )

[2019-12-10 18:32] noamoss commented on #401
@maryLoi

בגלל מגבלות ג'וביז, בפרסומים משם אין לנו אלטרנטיבה אמיתית- אין קישור ישיר למקור המדוייק.

קשור ל- #408

@akariv you can use this example to verify after you fix it.

[2019-12-10 18:42] noamoss commented on #428
@maryLoi

אין לנו מה לעשות עם זה - לפרסומים בג'וביז אין קישור ישיר וזו הדרך שלנו לספר למשתמשים מאין הבאנו את המידע

@akariv this is a bug indeed:

also notice the source includes a publication date, and our item say 'unknown'

[2019-12-10 18:44] noamoss commented on #428
@maryLoi  on a 2nd thought, it is not a bug - the original publication (jobiz) referneced to a secondary publication (gov.il) - we can not combine/update the data we show. closing issue.

[2019-12-10 18:44] #428 closed

[2019-12-10 18:45] noamoss commented on #427
@maryLoi  להבנתי זו בעיה מוכרת, שנוגעת בכך שאין לנו דרך לקשר בין פיסות התוכן הללו. תקני אותי אם אני טועה.

[2019-12-10 18:46] noamoss commented on #426
@maryLoi  איפה? למה את מתכוונת?

[2019-12-10 19:00] maryLoi commented on #431
עוד קול קורא חסר

בקשות לתמיכה מתקציב משרד התרבות והספורט לשנת 2020 – מינהל הספורט
https://www.gov.il/he/departments/publications/Call_for_bids/sport_support_2020

תוצאות החיפוש בגוב
https://www.gov.il/he/departments/publications/?limit=10&OfficeId=7d5d01a1-c043-4c87-b8ef-5061999e797c&rfpStatusType=c8ed2e3c-e5a9-4101-93f5-bae798c4ac1d&publicationType=7159e036-77d5-44f9-a1bf-4500e6125bf1

[2019-12-11 19:11] maryLoi opened #432 "sanity check for submission deadline for tenders"
יש מכרזים שבמקור יש להם מועד הגשה לא הגיוני (שנת 2070 או שנת 9019) כנראה בשל מועד הגשה שבפועל לא נקבע. מציעה לעשות בדיקה ולהציג משהו כמו הודעה "מועד לא ידוע" או שדה ריק

![image](https://user-images.githubusercontent.com/8996235/70652125-beaf1100-1c5a-11ea-8f42-c1b7ab211cdb.png)

https://next.obudget.org/i/tenders/office/639354/159/2019?li=106&theme=socialmap

https://next.obudget.org/i/tenders/of

[2019-12-11 19:24] maryLoi opened #433 "missing publications from pob.education"
רוב הק"ק מאתר משרד החינוך נסרקים. כמה חסרים:
https://pob.education.gov.il/KolotKorim/Pages/KolKore.aspx

תקצוב רשויות עבור תוכנית מרחבי למידה ירוקים (מל"י) לשנת התקציב 2020 ואילך
תקצוב בתי ספר משלבים עבור הדרכה פדגוגית לשנת הלימודים תש"ף
תקצוב עבור הצטיידות מעבדות למקצוע הכימיה למגמות חדשות ולמגמות וותיקות – תש"ף

[2019-12-11 19:38] maryLoi commented on #433
תיקון: מהדוגמאות הנ"ל רק זה לא נמצא
תקצוב בתי ספר משלבים עבור הדרכה פדגוגית לשנת הלימודים תש"ף

[2019-12-11 19:40] maryLoi opened #434 "סטטוס קול קורא לא נכון"
במועד סגירה מצויין תאריך של אתמול 10/12/2019  אבל הסטטוס שלו פתוח
https://next.obudget.org/i/calls_for_bids/call_for_bids/605248618/0?li=10&theme=socialmap

![image](https://user-images.githubusercontent.com/8996235/70654372-ddafa200-1c5e-11ea-81ba-c4648e012cf9.png)

[2019-12-11 20:16] noamoss commented on #387
@akariv following @maryLoi 's feedback, we should reopen this issue - we can ignore titles that include 'מכרז' if you are afraid of duplications, but should include 'קולות קוראים':

![תמונה](https://user-images.githubusercontent.com/3581741/70657021-c6bf7e80-1c63-11ea-907b-01678ec8d254.png)

[2019-12-11 20:26] noamoss opened #435 "redesign logos and hakol-kore landing page"
1. Rearrange the logos in the hakol-kore landing page following the demo:

![תמונה](https://user-images.githubusercontent.com/3581741/71035796-f91a2180-2124-11ea-80c6-4ab7f863f4a1.png)

(notice, the combined text in the lower part should be:

פיתוח הכלי נעשה בתמיכת ["מיזם ממשלה-חברה אזרחית"](http://www.theinstitute.org.il/index.php?dir=site&page=programs&op=view&cs=131&langpage=heb) - שותפות של ממ

[2019-12-11 20:35] noamoss opened #436 "campaign statistics: check new subscribers, added since Dec. 11 2019 (including)"
to measure the effectiveness of מנהיגות אזרחית's campaign, please check and update here how many new subscribes added to the mail alerts joined since Dec. 11 2019.

[2019-12-11 21:15] noamoss commented on #408
@akariv 4 weeks later, status did not change, this is a problem

[2019-12-11 21:16] noamoss commented on #408
my bad: need to check in a week...

[2019-12-11 21:17] noamoss commented on #408
@akariv status did not change

[2019-12-12 18:06] noamoss commented on #395
![image](https://user-images.githubusercontent.com/3581741/70737280-dbab1900-1d1a-11ea-96fa-e6292a3bc329.png)

[2019-12-12 20:24] maryLoi commented on #435
https://drive.google.com/open?id=1RjTHCC8GPJct8-L4i9sFReqq4x_8IqWV

[2019-12-12 20:29] maryLoi opened #437 "לאפשר מספר תקנה עם נקודות בחיפוש"
פעם היה אפשר להקליד מספר תקנה מפוסק בנקודות וזה היה עובד, והיום לא.
בעייתי במיוחד כי בטבלאות של נתוני הוצאות הלינקים למספרי תקנה לא עובדים ואנשים עושים קופי פייסט משם כמו שזה

למשל 20.43.03

[2019-12-17 21:32] noamoss commented on #435
@akariv updated the issue, following Dorit's recent email. ready to go

[2019-12-17 21:33] noamoss commented on #435
@akariv updated the issue, following Dorit's recent email. It's on hold for now, waiting for her approval.

[2019-12-17 21:51] noamoss opened #438 "prevent self-referrals (Google Analyics Warning)"
Listen to google:

[2019-12-18 21:03] noamoss commented on #435
@akariv finally, ready to go.

[2019-12-18 21:06] noamoss opened #439 "hide/omit languages links on header: socialmap + hakolkore landingpage"
as we have no plan to tanslate any of these pages, these links are misleading.

[2019-12-21 21:09] noamoss commented on #435
@akariv please notice (following Dorit's request) that on mobile display the general shape (2 + 1) should remain, so both Hasadna and Manhigut Ezrachit logo will appear at the same height.

[2019-12-24 14:51] BarVolunteering commented on #369
זה קשור ל:
hasadna/knesset-data-pipelines
או ל
OpenBudget/budgetkey-data-pipelines
?

[2019-12-24 15:33] akariv commented on #369
השני

On Tue, Dec 24, 2019, 16:51 BarVolunteering <notifications@github.com>
wrote:

[2019-12-25 13:47] #387 closed

[2019-12-25 13:49] akariv commented on #430
יסתדר ברגע שנעבור לקחת את המידע הזה מגיידסטאר

[2019-12-25 13:49] akariv commented on #429
שדה מועד הפרסום הציג בטעות את המועד הסגירה.
תוקן.

[2019-12-25 13:49] #429 closed

[2019-12-25 15:03] akariv commented on #401
הקישור המקורי כבר לא עובד (כבר אמרנו שתמיד טוב לשים צילום מסך?)

בכל מקרה, היתה בעיה בסטטוסים של פריטים מג׳וביז והיא תוקנה.

לגבי הלינק למקור - זה הכי טוב שאפשר לעשות עם האתר הזה.

[2019-12-25 15:03] #401 closed

[2019-12-25 15:04] akariv commented on #398
תוקן

[2019-12-25 15:06] akariv commented on #431
Here it is:
https://next.obudget.org/i/calls_for_bids/call_for_bids/145397/0282a462-a352-476f-9570-10b524b653de?li=4

https://next.obudget.org/i/calls_for_bids/call_for_bids/149158/a232751a-b101-4588-a2dc-cf52bcd53a8a?li=0

[2019-12-25 15:07] akariv commented on #431
<img width="1057" alt="Screen Shot 2019-12-25 at 17 07 00" src="https://user-images.githubusercontent.com/265333/71447595-fdec6000-2738-11ea-8a2e-b9a89d74a33e.png">
<img width="933" alt="Screen Shot 2019-12-25 at 17 06 32" src="https://user-images.githubusercontent.com/265333/71447596-fdec6000-2738-11ea-8cee-e88c13244aec.png">

[2019-12-25 15:07] #431 closed

[2019-12-25 16:56] #435 closed

[2019-12-25 19:47] akariv commented on #408
There was a bug in the update mechanism, seems to be working now.

https://next.obudget.org/i/support_criteria/support_criteria/191019351/0

[2019-12-25 20:52] noamoss commented on #387
checked on live and approved.

[2019-12-25 20:59] noamoss commented on #401
@maryLoi  checked for a similar concrete problem on Jobiz, but could not find. For example, this item on Jobiz:
![image](https://user-images.githubusercontent.com/3581741/71450405-e7123180-2769-11ea-8dc1-d1743d167a5a.png)

and found the relevant item on obudget: https://next.obudget.org/i/support_criteria/support_criteria/281016662/0?li=2&theme=socialmap:
![image](https://user-images.githubusercon

[2019-12-25 21:00] noamoss commented on #398
@akariv can you send me a test mail for check?

[2019-12-25 21:07] noamoss commented on #435
checked and approved, sent an update to Dorit.

[2019-12-25 21:22] noamoss commented on #408
@akariv not sure, see:

https://next.obudget.org/i/calls_for_bids/call_for_bids/214488145/0?li=12&theme=socialmap

![image](https://user-images.githubusercontent.com/3581741/71450597-65bc9e00-276d-11ea-83dc-757c7ff986ac.png)
 (Taken on Dec. 25 19)

[2019-12-26 17:29] akariv commented on #408
Seems like some old data as the original item no longer exists in the source.
I'll make sure to fix all the old jobiz items as well.

[2019-12-26 18:51] BarVolunteering commented on #369
התחלתי לעבוד על זה

[2019-12-28 09:25] akariv commented on #356
First iteration of the search improvement is ready to go. @noamoss

[2019-12-28 20:40] noamoss commented on #408
@akariv thanx, let me know when ready for a recheck.

[2019-12-28 20:49] noamoss commented on #398
@akariv
checked and approved the recent fix.

one problem remains (the screenshot was taken with a redmi 7): the longest title+subitles are being cut. Maybe that it can be fixed by pulling (all titles+subtitles) to the right (centralized following the subitems borders, instead of the entire page):

![image](https://user-images.githubusercontent.com/3581741/71549249-2d160200-29c3-11ea-86f6-7d1d7834

[2019-12-28 21:06] noamoss opened #440 "don't show `null` on budget transfer search results for unknown status"
![image](https://user-images.githubusercontent.com/3581741/71549464-86336500-29c6-11ea-8fe1-c0ea149367e8.png)

[2019-12-28 21:13] noamoss opened #441 "obubdget tenders last activity filter is not filtering"
https://next.obudget.org/s/?q=%D7%A9%D7%99%D7%A7%D7%95%D7%9D&dd=procurement&range=last_month&lang=he&tender_type=all

![image](https://user-images.githubusercontent.com/3581741/71549530-9dbf1d80-29c7-11ea-90a2-04f6ec76c834.png)

(taken on Dec. 28 2019)

[2019-12-28 21:20] noamoss commented on #356
@akariv congrats, the results look much better.
Before I continue, please approve the following feedback is what you are expecting now:
I found that typing the word "שיקום" results included/marked also "הקמה":

![image](https://user-images.githubusercontent.com/3581741/71549549-f393c580-29c7-11ea-86e7-47c508d693bc.png)

and "מקום":
![image](https://user-images.githubusercontent.com/3581741/7154955

[2019-12-28 21:21] #436 closed

[2019-12-28 21:23] noamoss commented on #407
@akariv #356 solved this example. closing issue.

[2019-12-28 21:23] #407 closed

[2019-12-30 20:05] noamoss opened #442 "set search type per item index"
For example name: Add AND logic to search

[2019-12-30 20:05] noamoss commented on #356
opened https://github.com/OpenBudget/BudgetKey/issues/442

[2020-01-06 17:12] akariv opened #443 "רשם הקדשות"
https://data.gov.il/dataset/hekdeshot

1. Analyze the data in the data.gov.il dataset
1. Write a dataflows pipeline to clean, combine the datafiles into one dataset
1. Finish by loading directly from data.gov.il and write to file + db

[2020-01-06 17:53] noamoss opened #444 "redesign email header and improve intro text"
![תמונה](https://user-images.githubusercontent.com/3581741/72001795-ce684800-324e-11ea-81f4-71531e81ca4f.png)

* Assets: [link](https://www.figma.com/file/xc2kl2bphumgYDd2XurJhW/Emails?node-id=5%3A63)

1. link to: https://obudget.org/
2. link to: https://socialmap.org.il/
3. link to: https://next.obudget.org/govbuy/
4. link to: https://socialmap.org.il/hakol-kore
5. add the following intro header

[2020-01-06 17:54] noamoss opened #445 "define auto tests list"

[2020-01-06 17:55] noamoss opened #446 "explore monitoring alternatives [4h]"
- online/offline pages
- pipelines API

(bonus): automatic tests (see #445 )

[2020-01-06 20:29] DanilDelegator commented on #400
Hi, I'd like to work on this issue. Can you specify what you think it should redirect to? @maryLoi

[2020-01-08 13:48] akariv commented on #408
Seems like it's solved.

[2020-01-08 18:01] noamoss commented on #444
@akariv what do you think of the spec?

[2020-01-08 18:40] akariv commented on #444
This is just the new header... I thought we were going to improve the intro
text as well @Noamoss <noamoss@gmail.com>

On Wed, Jan 8, 2020 at 8:01 PM noamoss <notifications@github.com> wrote:

[2020-01-08 21:26] sephib commented on #443
Here is my EDA of the data files:
[hekdeshGeneral.csv](https://data.gov.il/dataset/hekdeshot/resource/f70898aa-9d47-47b2-b1bc-ec736b76bfe2/download/%D7%A8%D7%A9%D7%9D%20%D7%94%D7%94%D7%A7%D7%93%D7%A9%D7%95%D7%AA%20-%20%D7%9E%D7%99%D7%93%D7%A2%20%D7%9B%D7%9C%D7%9C%D7%99)
[code]
[hekdeshPropery.csv](https://data.gov.il/dataset/hekdeshot/resource/fa63c259-c5f5-4ab1-a375-b75923074c57/download/%D7%A8%D

[2020-01-09 15:40] akariv commented on #356
Documenting something we discussed (@noamoss correct me if I don't remember well):

The reason these strange search results appear is that some results are boosted, making them appear before others. I suggested we only apply boosting when not searching by term, whereas term searches will only be sorted by relevance.
Is that correct?

[2020-01-09 18:26] akariv commented on #423
This source completely replaced the previous support criteria scraper from ministry of justice.

Sample page with budget reference:
https://next.obudget.org/i/support_criteria/support_criteria/0/YTBUMXAwMDAwME5ZYkpRRUEx?li=49

Sample budget page with support criteria question/query:
https://next.obudget.org/i/budget/002049/2019

[2020-01-09 18:27] akariv commented on #430
הסתדר, הפריט כבר לא מופיע בחיפוש

[2020-01-09 18:28] #430 closed

[2020-01-09 23:18] noamoss commented on #423
@akariv any good idea for a valid QA to this issue?

// cc @maryLoi FYI

[2020-01-09 23:22] noamoss commented on #439
@akariv reopening this issue to complete the fix for govbuy as well.

[2020-01-09 23:25] noamoss commented on #356
@akariv could you please verify what do you mean by:

1. `searching by term` (what other searches do we know?)
1.  `relevance` (is it a criterion to be defined per content type? per theme?)

[2020-01-10 10:48] akariv commented on #398
Fixes style hopefully

[2020-01-10 10:48] #398 closed

[2020-01-10 10:48] akariv commented on #444
Done

[2020-01-10 12:17] akariv commented on #423
Not sure, you're the master...

[2020-01-10 12:19] akariv commented on #356
1. Search can be done without a term, e.g.:

https://next.obudget.org/s/?q=&dd=procurement&range=all&lang=he&tender_type=tenders

(this is a no term, filtered search)

2. 'relevance' is textual relevance to the search term

[2020-01-10 12:19] #439 closed

[2020-01-10 17:59] noamoss commented on #439
checked on live and approved.

[2020-01-10 18:03] noamoss opened #447 "fit personal page for returning anonymous users"
when clicking the 'saved alerts' link on the weekly mail, before logging in to our site, user sees the following screen:

![image](https://user-images.githubusercontent.com/3581741/72174537-a7427f80-33e2-11ea-9a23-d0ec81db5668.png)
following #444

This is of course no true, because they just got here thanks to the alert mail.

I suggest to chane the explaination text on https://next.obudget.org/p/

[2020-01-10 18:08] noamoss commented on #444
@akariv looks great (both on mobile and desktop).

1. one small textual fix is needed, please delete the following unnecessary words:

![image](https://user-images.githubusercontent.com/3581741/72175429-cc37f200-33e4-11ea-8224-c227d21817f2.png)

2. please see a follow-up (#447)

[2020-01-10 18:11] noamoss commented on #398
yep! checked and approved.

[2020-01-10 18:58] noamoss commented on #356
@akariv

agreed

Not sure, since I believe most of the searches are not detailed enough and will result in similar textual relevancy score. Therefore, I believe we have different logics of sorting, following the textual score, that are context/content dependent.

Hope I was able  to summarize and define all of them here:

|  Content-Type | Sort by 1 | Sort by 2 | Sort by 3 | comments |
| --- | ---

[2020-01-10 19:00] maryLoi commented on #423
משמח מאוד!

יש בעיה עם פרסומים של משרד החינוך שמשמיט את שתי הספרות הראשונות של סעיף המשרד (גם בקובץ מבחן התמיכה וגם בדף בגיידסטר)

:למשל בדף [הזה](https://next.obudget.org/i/support_criteria/support_criteria/0/YTBUMjQwMDAwMDROdlpYRUEw?li=2) הקישור הלחיץ של מספר תקנה מוביל לדף עם שגיאה
Not Found

[2020-01-10 19:03] maryLoi commented on #423
כדאי להוסיף בעמוד מבחן התמיכה את "תאריך עדכון אחרון" בנוסף למועד הפרסום

[2020-01-10 19:06] maryLoi commented on #423
מבחן תמיכה שלגמרי חסר אצלינו
https://www.guidestar.org.il/test-support/YTBUMXAwMDAwME5ZYkpaRUEx

[2020-01-10 19:24] akariv commented on #423
הנה מופיע:

https://next.obudget.org/i/support_criteria/support_criteria/0/YTBUMXAwMDAwME5ZYkpaRUEx?li=0

סידרתי את הלינקים לתקציב, יתעדכן בקרוב באתר.

On Fri, Jan 10, 2020 at 9:06 PM Mary <notifications@github.com> wrote:

[2020-01-10 19:25] maryLoi opened #448 "לא מוצגות כל תוצאות החיפוש"
למשל נחפש "מבחנים לחלוקת כספי תמיכות של משרד הבריאות"

אין דרך לראות את כל התוצאות

![image](https://user-images.githubusercontent.com/8996235/72180292-83396b00-33ef-11ea-88b1-62de8dbbc9e1.png)

יש בפועל לא מעט מבחנים כאלה:
https://next.obudget.org/s/?q=%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%91%D7%A8%D7%99%D7%90%D7%95%D7%AA&dd=supports&range=last_year&lang=he&kind=support_criteria

[2020-01-10 19:28] maryLoi commented on #423
בקיצור, צריך לעשות בדיקה על מספר התקנה שמופיע בגיידסטאר ולהציג קישור רק אם היא אכן קיימת

[2020-01-10 19:29] maryLoi commented on #423
והייתי מציגה גם בדף מבחן התמיכה למטה בטבלה נתוני הוצאות על תמיכה זו

[2020-01-10 19:34] akariv commented on #423
כן, זה כבר קורה.

יכולים להיות מספר מבחנים על אותה התקנה התקציבית, כך שאין וודאות שההוצאות
אכן קשורות למבחן הספציפי שמוצג.

On Fri, Jan 10, 2020 at 9:29 PM Mary <notifications@github.com> wrote:

[2020-01-11 15:58] maryLoi opened #449 "scrape local authorities budget/tenders/spending/calls for proposals"
לכשיגיע הזמן לעשות סקרייפינג למאגרים של רשויות, הינה רשימה של מקורות

https://docs.google.com/spreadsheets/d/1HU20ImjisdeqpI7n3Fyr5RpfhWOPXyQCZLOdC0LOH8k/edit#gid=0

[2020-01-11 19:15] maryLoi opened #450 "חיפוש"
חיפשתי [כבאות](https://next.obudget.org/s/?q=%D7%9B%D7%91%D7%90%D7%95%D7%AA&dd=budget&range=all&lang=he&kind=all&fiscal-year=all)
לא ברור למה הסעיף השני הישן יותר של נציבות הכבאות לא מופיעה ברצף האחרי הראשון

![image](https://user-images.githubusercontent.com/8996235/72209491-62d4e380-34b7-11ea-897f-72c4b02d2bdd.png)

[2020-01-12 06:05] akariv commented on #450
הוא קטן פי מאה מהשני ויושב תחת שלטון מקומי ולא בטחון פנים, אני לא בטוח שיש
קשר ביניהם

On Sat, Jan 11, 2020, 21:15 Mary <notifications@github.com> wrote:

[2020-01-12 09:20] akariv commented on #356
Are you suggesting we add a 'sort-by' menu to allow different sorting methods, or something else?

[2020-01-12 09:24] akariv commented on #423
גם זה במפתח:
https://next.obudget.org/i/support_criteria/support_criteria/0/YTBUMXAwMDAwME5ZYkp1RUFM?li=0

[2020-01-12 09:24] akariv commented on #408
@noamoss can we close?

[2020-01-12 09:25] akariv commented on #346
@noamoss can we close?

[2020-01-12 09:25] akariv commented on #395
@noamoss what's the next step here?

[2020-01-12 10:45] akariv commented on #447
I didn't replace the text in the screen but instead a differentiated the cases for:
- not authenticated
- authenticated, no items
- authenticated, has items

[2020-01-12 10:45] #447 closed

[2020-01-12 19:10] noamoss commented on #447
great, checked and approved.

[2020-01-12 19:12] noamoss commented on #395
@akariv figuring out what/if can be done, meanwhile please leave it assigned to me. You said you were about to meet Rivki this week, did you remember to ask her about potential connections?

[2020-01-12 19:15] noamoss commented on #346
@akariv still not sure... found a semi-relevant item ([link](https://www.health.gov.il/Subjects/research/Pages/EJPRD.aspx)). Please leave it assigned to me for one more check later on.

[2020-01-12 19:18] maryLoi commented on #423
למבחן תמיכה לא צריך להיות שדה של מועד סגירה

[2020-01-12 19:19] noamoss commented on #408
@akariv not yet.  I am following [this item](https://next.obudget.org/i/support_criteria/support_criteria/500006501/0?li=3&theme=socialmap). Will recheck and update/close this issue on January 24.

[2020-01-12 19:21] noamoss commented on #423
@maryLoi

למה לא? למיטב זכרוני היו פרסומי מבחני תמיכה עם תאריך יעד להגשה. אני טועה?

[2020-01-12 19:22] noamoss commented on #444
@akariv reopening, until I can check and approve this issue.

[2020-01-12 19:27] maryLoi opened #451 "להוסיף פילטר של "פתוח" במכרזים ותמיכות"
חשבתי על זה בשנית, והגעתי למסקנה שאפשר לעבוד עם המפתח כמו שהוא עבור חיפוש מכרזים וקולות קוראים. דבר אחד ששוה להוסיף הוא אופציה לבחור סגור/פתוח בתוך "תמיכות והעברות" ובתוך "מכרזים והתקשרויות"

כמו כן, הכותרת "תמיכות תקציביות" מבלבלת בקונטקסט הזה. הייתי קוראת לזה אולי "הוצאות על תמיכות

![image](https://user-images.githubusercontent.com/8996235/72224323-0db1d400-3582-11ea-942b-79541a9bd975.png)

כמו

[2020-01-12 19:28] noamoss commented on #356
@akariv  hmm... did not think of it this way, but it might be a better (and easier) implementation.

My original purpose was to recalibrate the boosting mechanism.

[2020-01-12 19:31] maryLoi commented on #423
זה הדיון שלא סיימנו אם הפרסומים של ג'וביז הם מבחני תמיכה או קולות קוראים.
בוא נדבר על זה בפרוט.
אבל ברמה העקרונית מבחני תמיכה הם רשימת קריטריונים שהיא אל-זמנית. קול קורא הוא הזמנה להתמודד על תקציב שמחולק לפי הקריטריונים הנ"ל ולקול קורא יש מועדים

[2020-01-12 20:21] akariv commented on #396
https://next.obudget.org/s/?q=%D7%94%D7%A7%D7%A8%D7%9F%20%D7%94%D7%A7%D7%99%D7%99%D7%9E%D7%AA%20%D7%9C%D7%99%D7%A9%D7%A8%D7%90%D7%9C;;&dd=supports&range=all&lang=he&kind=all

[2020-01-13 05:22] akariv commented on #397
https://next.obudget.org/s/?q=%D7%94%D7%92%D7%B3%D7%95%D7%99%D7%A0%D7%98&dd=supports&range=all&lang=he&kind=all

[2020-01-13 12:49] maryLoi opened #452 "להעביר מכרזים של קקל למאגר המכרזים במקום קולות קוראים"
מכרזים של הקרן הקיימת לישראל כרגע מוצגים כקולות קוראים וזה מטעה

[2020-01-13 15:34] maryLoi opened #453 "תמיכות ומענקים" הם בפועל קולות קוראים""
חלק מהתמיכות ומענקים הם קולות קוראים לכל דבר. כרגע במפתח הם מסווגים כמבחני תמיכה וזה מאוד מטעה

https://www.gov.il/he/departments/publications/Call_for_bids/molsa-support-care-for-people-with-disabilities-and-their-rehabilitation-2020

כל הפרסומים של המשרדים הנ"ל הם קולות קוראים:
המשרד להגנת הסביבה
משרד הרווחה
משרד העליה

[2020-01-13 15:50] maryLoi opened #454 "משרד הבריאות מפרסם קולות קוראים תחת השם מבחני תמיכה"
באתר משרד הבריאות כל מה שנקרא "מבחני תמיכה" הוא בקובץ אחד שרשור של קול קורא עם מבחן התמיכה. עדיף לשנות את הסיווג שלו ל"קול קורא"

https://www.health.gov.il/Subjects/Finance/Mtmicha/Pages/default.aspx

[2020-01-13 15:56] maryLoi opened #455 "משרד הבריאות: קבצים לא רלוונטיים נסרקים"
קבצים שמפורסמים כתת סעיף ומהווים טפסים או דוחות, נסרקים על ידינו כמבחני תמיכה

למשל [דוח ביצוע](https://next.obudget.org/i/support_criteria/support_criteria/528457603/0?li=50&theme=socialmap
)

https://www.health.gov.il/Subjects/Finance/Mtmicha/Pages/default.aspx

![image](https://user-images.githubusercontent.com/8996235/72270432-d0a31b80-362d-11ea-9cd1-ca9468f4adcd.png)

[2020-01-14 14:20] maryLoi opened #456 "תפריט התראות"
כרגע אם בוחרים בתפריט "התראות אישיות" או "פרופיל אישי" מקבלים את אותו הדף. מאוד מבלבל

התצוגה בדף "ההתראות שלי" של שורת החיפוש עם המספר 500+ גם חסרת משמעות ומבלבלת. הייתי מציעה פשוט רשימת מילים עם האייקון של מחיקה וזהו.
גם אופציית השיתוף קצת מיותרת כי אני ארצה לשתף דף של משהו ספציפי - תקנה/מכרז/קול קורא - ולא את כל תוצאות החיפוש של המילה "חינוך" ששמרתי

מסקנות מהדרכות-

[2020-01-14 21:23] noamoss commented on #397
@akariv

1. I believe the scraped items are not classified correctly by type.

See for example https://next.obudget.org/i/calls_for_bids/call_for_bids/0/joint-he-jobs-2391?li=0

following the title, I would suggest it is a tender, not a קול קורא.

or https://next.obudget.org/i/calls_for_bids/call_for_bids/0/joint-he-jobs-2328?li=0
which should be classified as an exemption.

seems like you did not

[2020-01-14 21:31] noamoss opened #457 "inconsistent results while quering for knwon Joint items"
1. searching [this item from the joint site](http://www2.jdc.org.il/he/jobs/2439) by full title in the budget key, doesn't show the expected item ([search result link](https://next.obudget.org/s/?q=%D7%9E%D7%9B%D7%A8%D7%96%20%D7%9C%D7%A8%D7%9B%D7%99%D7%A9%D7%AA%20%D7%95%D7%90%D7%A1%D7%A4%D7%A7%D7%AA%20%D7%A8%D7%99%D7%94%D7%95%D7%98%20%D7%9C%D7%9E%D7%A8%D7%9B%D7%96%D7%99%20%D7%94%D7%9B%D7%95%D7%95%

[2020-01-14 21:40] noamoss commented on #397
( @maryLoi take a look at my suggestion above, following our discussion on https://github.com/OpenBudget/BudgetKey/issues/423 - what do you think of this offer?)

[2020-01-14 21:40] noamoss commented on #423
@maryLoi בסדדר גמור, אבל תתייחסתי בבקשה להערה/שאלה האחרונה שלי: האם כשמשרד מפרסם מבחן תמיכה הוא תקף לנצח או לתאריך מסויים? אם לא כתוב תאריך, האם הוא רלוונטי רק לשנת הפרסום או גם מעבר?

השאלה כאן היא לא עקרונית, אלא מעשית ומשפטית - אם מבחן תמיכה הוא הזמנה להתחרות על תקציב, ההגיון אומר שתנאי התחרות מוגדרים רק בהינתן תקציב שאושר, ושגורם ממשלתי לא יכול לפרסם מבחן תמיכה לשנה שלא תוקצב עבורה. מהצד שלנו,

[2020-01-14 22:05] akariv commented on #397
https://next.obudget.org/i/calls_for_bids/call_for_bids/0/joint-he-jobs-2367?li=0

On Tue, Jan 14, 2020 at 11:40 PM noamoss <notifications@github.com> wrote:

[2020-01-14 22:05] akariv commented on #397
Will do the classifications, np

On Wed, Jan 15, 2020 at 12:04 AM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-01-14 22:18] noamoss commented on #396
* need to fix the page item's body text style: [for example](https://next.obudget.org/i/calls_for_bids/call_for_bids/0/kkl-tenders-bids-bid-11908-19-?li=0):
![image](https://user-images.githubusercontent.com/3581741/72387338-f878a900-372b-11ea-8bfc-c016f9a690b2.png)

* relevant files are not attached properly:
https://next.obudget.org/i/calls_for_bids/call_for_bids/0/kkl-tenders-bids-bid-12499-19-

[2020-01-14 22:33] noamoss commented on #397
@akariv

that's weird and leads to point over a different potential problem on searching join (and maybe other) items. Will be described separately on https://github.com/OpenBudget/BudgetKey/issues/457.

great, also, found another problem: [this item's](https://next.obudget.org/i/calls_for_bids/call_for_bids/0/joint-he-jobs-2441?li=0) status did not change, remained open, even though the due date

[2020-01-15 15:09] akariv commented on #457
https://next.obudget.org/s/?q=%D7%92%27%D7%95%D7%99%D7%A0%D7%98%20%D7%99%D7%A9%D7%A8%D7%90%D7%9C:%20%D7%9E%D7%9B%D7%A8%D7%96%20%D7%9C%D7%A8%D7%9B%D7%99%D7%A9%D7%AA%20%D7%95%D7%90%D7%A1%D7%A4%D7%A7%D7%AA%20%D7%A8%D7%99%D7%94%D7%95%D7%98%20%D7%9C%D7%9E%D7%A8%D7%9B%D7%96%D7%99%20%D7%94%D7%9B%D7%95%D7%95%D7%9F%20%D7%90%D7%A4%20+60&dd=all&range=all&lang=he

[2020-01-18 23:25] noamoss commented on #457
@akariv did you fix anything here? can you explain the essence of this usse?

[2020-01-20 11:14] akariv commented on #444
@noamoss you should have received an email last week - can you confirm?

[2020-01-20 12:14] akariv commented on #457
Yes, there was a bug in the theme definition that prevented certain results from showing.

This is the fixing commit:

https://github.com/OpenBudget/budgetkey-themes/commit/d866b1786713114bf8d96536939215330f32cc48

[2020-01-20 12:14] #457 closed

[2020-01-20 18:38] noamoss opened #458 "add search logic for queries by content type"
|  Content-Type | logic |
| --- |  ---- |
| tenders & exemptions  (including opportunities)| logic operator |
| exemptions | OR |
| contracts | OR |
| organizations (suppliers)  | AND |
| organizations (NGOs) | AND |
| NGOs activity fields | OR  |
| NGOs areas | OR  |
| budget item | OR |
| state income| OR |
| budget transfer | OR  |
| budget support | OR |
| names| AND |
| government decisions |

[2020-01-20 18:40] noamoss commented on #356
1.

yes, will update here

2. opened a separate issue for the names/orgs and other content type logic: https://github.com/OpenBudget/BudgetKey/issues/458

[2020-01-20 22:12] noamoss commented on #356
@akariv

The updated task is to add manual sort mechanism, defined by content-type.
- alphabetical order will be used as a default secondary sorting, if needed
- option 1 will be used as a default sorting logic

|  Content-Type | Option 1|  label 1 | Option 2 | label 2 |  Option 3 | label 3 | option 4 | label 4 | option 5 | label 5|
| --- | ---- | ---- |  ---- | --- | --- | --- | ---| --- | -- | -

[2020-01-20 22:15] noamoss opened #459 "reorganize sources, to better differentiate מבחני תמיכה, תמיכות and קולות קוראים"

[2020-01-20 22:16] noamoss commented on #459
@akariv since you can with the idea to implement, I believe no further explanations are needed, correct me if something is missing

[2020-01-20 22:18] noamoss commented on #444
yes, checked and approved.

[2020-01-20 22:18] #444 closed

[2020-01-20 22:19] noamoss commented on #360
closing in favor of https://github.com/OpenBudget/BudgetKey/issues/356#issuecomment-576445302

[2020-01-20 22:19] #360 closed

[2020-01-27 10:09] maryLoi opened #460 "tilda replacement"
האם ניתן/מסובך לעשות תיקון ידני אצלינו לכל שמות התאגידים שכתובים עם טילדה במקום גרשיים?

![image](https://user-images.githubusercontent.com/8996235/73166084-d1dc4a00-40fd-11ea-9f57-3d2bc8a63c27.png)

[2020-01-28 14:17] maryLoi commented on #459
פרסומים של קק"ל מסווגים כקולות קוראים, בעוד שבפועל הם מכרזים

https://next.obudget.org/s/?q=%D7%94%D7%A7%D7%A8%D7%9F%20%D7%94%D7%A7%D7%99%D7%99%D7%9E%D7%AA%20%D7%9C%D7%99%D7%A9%D7%A8%D7%90%D7%9C&dd=procurement&range=all&lang=he&tender_type=calls_for_bids&status=all

[2020-01-28 22:01] noamoss commented on #396
also notice, May's comment about the item's classificaiton on https://github.com/OpenBudget/BudgetKey/issues/459#issuecomment-579266489

[2020-01-28 22:02] noamoss commented on #459
@maryLoi תודה. יש שם עוד כמה בעיות, ראי https://github.com/OpenBudget/BudgetKey/issues/396.
הוספתי גם את העדכון שלך שם.

[2020-02-01 18:03] maryLoi opened #461 "ניוזלטר עדכונים מפוקסל"
האיכות של התמונה בניוזלטר לא משהו .... הטקסט בתוך תיבת החיפוש נראה מפוקסל במיוחד

![image](https://user-images.githubusercontent.com/8996235/73596754-d8b7f200-452d-11ea-9325-1527ecb5819c.png)

[2020-02-01 18:04] maryLoi commented on #461
![image](https://user-images.githubusercontent.com/8996235/73596762-f9804780-452d-11ea-87cb-f657d7672005.png)

[2020-02-07 10:25] noamoss opened #462 "notification email, fix status label display"
Follow the design to show item status separated from the content-type label:

![image](https://user-images.githubusercontent.com/3581741/74021771-d7128200-49a4-11ea-9fe6-b36e88fa58c4.png)

[2020-02-07 10:41] noamoss opened #463 "update `נסגר להגשות, ממתין לפרסום תוצאות` behaviour"
Following this item:
https://next.obudget.org/i/tenders/central/645818/technology-cloud_tender
![image](https://user-images.githubusercontent.com/3581741/74021914-2d7fc080-49a5-11ea-9e29-6c37dbabee3e.png)

![image](https://user-images.githubusercontent.com/3581741/74022235-c44c7d00-49a5-11ea-8d8b-a383033f80b0.png)

We should:
1.  change the ambiguous `פורסם וממתין לתוצאות` label (in source) to app

[2020-02-07 10:44] noamoss commented on #462
I suspect this behavior might be related to specific sources/scrapers: health ministry and education ministry.

[2020-02-07 11:09] akariv commented on #463
The fix here is to merely change the translations in the tenders
spreadsheet to the correct ones.
The email does not really care about the textual status, but looks at the
publication/due dates.

@Noamoss <noamoss@gmail.com>

On Fri, Feb 7, 2020 at 12:41 PM noamoss <notifications@github.com> wrote:

[2020-02-07 12:08] noamoss commented on #463
@akariv

spreadsheet to the correct ones.

[done](https://docs.google.com/spreadsheets/d/1JkZooBwoxKPlrXWWwUtNHLMdxc-iG0n5tdGZ23I8fYY/edit?usp=sharing) lines, 14-17.

but the status filter on site does. What/how should it be defined in the `simple decision` field then (left it empty for now)?

[2020-02-07 12:44] akariv commented on #463
I think this is פתוח

On Fri, Feb 7, 2020 at 2:08 PM noamoss <notifications@github.com> wrote:

[2020-02-07 13:24] noamoss commented on #463
@akariv not always. This is how I changed it:

![image](https://user-images.githubusercontent.com/3581741/74032935-cb7f8500-49bd-11ea-904f-14e6cc86634b.png)

I guess it will prevent errors like this issue but will keep closing tenders with documented transfers.
If it seems ok, please update here when you pushed the update to the site.

[2020-02-09 16:14] maryLoi opened #464 "למיין פריטים לפי תאריך בדף תוצאות החיפוש"
למשל [כאן ](https://next.obudget.org/s/?q=&dd=procurement&range=all&lang=he&tender_type=all&status=all)(ללא מילת חיפוש, מפולטר לפי מכרזים וקולות קוראים), אין שום הגיון לסדר התצוגה של הודעות הפטור

[2020-02-09 17:14] BarVolunteering commented on #369
הושלם ב
https://github.com/OpenBudget/budgetkey-data-pipelines/pull/195
https://github.com/OpenBudget/budgetkey-data-pipelines/pull/193

@akariv בבקשה תסגור

[2020-02-10 17:43] #302 closed

[2020-02-10 17:44] #274 closed

[2020-02-10 17:44] #47 closed

[2020-02-10 18:34] #369 closed

[2020-02-10 18:43] akariv commented on #408
@noamoss can we close?

[2020-02-10 18:48] akariv opened #465 "Combine lamas muni data from multiple years into one dataset"
We're currently using a datafile from 2015.

There are newer files and ideally we'd like to have one dataset that spans multiple years.

https://www.cbs.gov.il/he/publications/Pages/2019/%D7%94%D7%A8%D7%A9%D7%95%D7%99%D7%95%D7%AA-%D7%94%D7%9E%D7%A7%D7%95%D7%9E%D7%99%D7%95%D7%AA-%D7%91%D7%99%D7%A9%D7%A8%D7%90%D7%9C-%D7%A7%D7%95%D7%91%D7%A6%D7%99-%D7%A0%D7%AA%D7%95%D7%A0%D7%99%D7%9D-%D7%9C%D7%A2%D7%

[2020-02-10 18:49] akariv opened #466 "Combine ministry of interior municipal data into entity data:"
https://data.gov.il/dataset/local-authorities

[2020-02-10 18:50] akariv opened #467 "תכניות לימוד חיצוניות הפועלות בבתי ספר"
אנו רוצים לשייך את המידע הנ״ל לעמוד של העמותה במפתח

https://apps.education.gov.il/tyhnet/public/#/tochniyot

[2020-02-10 18:54] #423 closed

[2020-02-10 19:34] #208 closed

[2020-02-10 19:35] noamoss commented on #408
@akariv nope, please take a look here: https://next.obudget.org/i/support_criteria/support_criteria/500006501/0?li=3&theme=socialmap

the item is still open.

[2020-02-10 19:35] #187 closed

[2020-02-10 19:36] #127 closed

[2020-02-10 19:47] #89 closed

[2020-02-10 19:48] #43 closed

[2020-02-10 20:48] akariv commented on #408
Did you find this item in search?
Couldn't find it there.
@noamoss

On Mon, Feb 10, 2020 at 9:35 PM noamoss <notifications@github.com> wrote:

[2020-02-10 21:01] #299 closed

[2020-02-11 07:14] #400 closed

[2020-02-11 07:15] #300 closed

[2020-02-11 07:15] #323 closed

[2020-02-11 07:15] #234 closed

[2020-02-11 07:24] #295 closed

[2020-02-11 07:25] #294 closed

[2020-02-11 07:25] #290 closed

[2020-02-11 07:25] #289 closed

[2020-02-11 07:50] akariv commented on #235
מבדיקה עולה כי התקציב של התקנה התאפס בשנת 2017, מה שגורם ליצירת ניתוק בין התקנה של 2016 לזו של 2019.
זה מקרה יחסית נדיר ולא נתקן.

[2020-02-11 07:50] #235 closed

[2020-02-11 08:49] noamoss commented on #408
@akariv
no, the status still should be closed in the item page.

Think of a scenario in which I received a notification email, but opened it two weeks later - it gets me to this item page.

[2020-02-11 08:51] noamoss commented on #299
checked and approved on live.

[2020-02-11 09:09] #247 closed

[2020-02-11 09:11] #50 closed

[2020-02-11 09:19] akariv commented on #408
This is probably an old item prior to the bugfix.
The item ids changed quite a bit before they settled, and there are still
some of the old ones lurking around - but they shouldn't be findable
through the search (un-searchable items also get deleted from the index
eventually)
Please try to find an existing example of an item which appears in search
and isn't according to spec.

On Tue, Feb 11, 202

[2020-02-11 09:21] akariv commented on #41
התקנה כבר לא מופיעה בחיפוש

https://next.obudget.org/s/?q=%D7%94%D7%A9%D7%9C%D7%9E%D7%AA%20%D7%94%D7%9B%D7%A0%D7%A1%D7%94%20%D7%9C%D7%9E%D7%A7%D7%91%D7%9C%D7%99%20%D7%A7%D7%A6%D7%91%D7%90%D7%95%D7%AA%20%D7%95%D7%A9%D7%90%D7%99%D7%A8%D7%99%D7%9D&dd=budget&range=all&lang=he&kind=regulations&fiscal-year=all

[2020-02-11 09:22] akariv commented on #41
אלו שכן מופיעות נראות סבבה

[2020-02-11 09:22] #41 closed

[2020-02-11 09:23] #376 closed

[2020-02-11 09:24] #304 closed

[2020-02-11 09:25] #355 closed

[2020-02-11 09:26] #365 closed

[2020-02-11 09:26] #362 closed

[2020-02-11 17:54] maryLoi opened #468 "קולות קוראים - ממשק חיפוש מתקדם"
מאוד נדרש ממשק חיפוש מתקדם/מורחב (בדומה ל-גוב.איל), כולל:

1. אפשרות לבחור גוף מפרסם
2. לבחור מילים **שלא** יופיעו
3. AND- סדרה של מילים
4. OR - סדרה של מילים

[2020-02-11 20:40] #377 closed

[2020-02-11 21:22] noamoss commented on #408
@akariv

can't you easily locate and fix them on DB by crossing `publish date` + `no due_date` + `status == open` and set their status to `closed`?

will do

[2020-02-11 21:32] noamoss opened #469 "supports criteria due date is scraped but not displayed"
while checking https://github.com/OpenBudget/BudgetKey/issues/408, found this problem.
See for example this item:
https://next.obudget.org/i/support_criteria/support_criteria/153722/ac3b7663-6cc1-41df-9292-dd0011aff968?li=1&theme=socialmap

![image](https://user-images.githubusercontent.com/3581741/74281177-a32db880-4d26-11ea-94d0-a22b2f407f76.png)

![image](https://user-images.githubusercontent.c

[2020-02-11 21:37] noamoss commented on #469
another quick example: https://www.gov.il/he/departments/publications/Call_for_bids/jerusalemgrantbio290817

[2020-02-11 21:37] noamoss commented on #469
another quick example: https://next.obudget.org/i/support_criteria/support_criteria/17293/2dcdda50-4a29-437e-90e0-c2195c497997?li=4&theme=socialmap

[2020-02-12 05:51] akariv commented on #408
No point, as next week they will be deleted anyway...

On Tue, Feb 11, 2020, 23:22 noamoss <notifications@github.com> wrote:

[2020-02-12 06:53] akariv commented on #469
we decided to change the type of these to 'call for bids', and keep only
the pure support criteria documents (from guidestar) in the support
criteria category.
as such, they do not have a claim date.

On Tue, Feb 11, 2020 at 11:37 PM noamoss <notifications@github.com> wrote:

[2020-02-12 07:04] noamoss commented on #408
Deleted? Please explain

On Wed, Feb 12, 2020, 7:51 AM Adam Kariv <notifications@github.com> wrote:

[2020-02-12 07:24] akariv commented on #408
some of the old ones lurking around - but they shouldn't be findable
through the search (un-searchable items also get deleted from the index
eventually)

On Wed, Feb 12, 2020 at 9:04 AM noamoss <notifications@github.com> wrote:

[2020-02-12 15:14] maryLoi opened #470 "נתוני הוצאות של משרד הרווחה - מחופש מידע"
הגיע אקסל ממשרד הרווחה ששוה להזין למפתח.

לשון התשובה: מסעיף 23.10.13.41 מועברת ההשתתפות בשכר העובדים במחלקות לשירותים חברתיים לרשויות המקומיות בלבד ולא לאף גורם נוסף.

https://drive.google.com/file/d/1wF26pbvkCcwfiNMBff72UOpVqSTLRJmq/view?usp=sharing

צריך לתקן שם את מספור הסעיפים - חסרות שתי ספרות ראשונות, והתווספה ספרה אחרונה נוספת כנראה של מספור פנימי
יש שם תקנות נוספת, מעבר למה שביקשתי

[2020-02-15 16:27] akariv commented on #441
The activity period was not a 'last activity filter' at all, but literally an 'activity period' filter.

For example, the exemption in your screenshot (https://next.obudget.org/i/tenders/exemptions/587153/none?li=1) is active till 2021, so was definitely active during the last 30 days.

Either way, this confusion and the lack of usefulness of this filter plus the fact that we will add a proper sor

[2020-02-15 16:27] #441 closed

[2020-02-15 16:31] akariv commented on #440
Reproduction:

https://next.obudget.org/s/?q=%D7%94%D7%A9%D7%AA%D7%AA%D7%A4%D7%95%D7%AA%20%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%92%D7%9E%D7%9C%D7%90%D7%99%D7%9D%20%D7%91%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%91%D7%99%D7%98%D7%97%D7%95%D7%9F&dd=national-budget-changes&range=all&lang=he

[2020-02-15 16:31] #440 closed

[2020-02-15 16:33] akariv commented on #438
Not sure what needs to be done here

[2020-02-15 16:39] #223 closed

[2020-02-15 16:40] akariv commented on #225
טוב, את יודעת מה צריך לעשות כאן

[2020-02-15 16:42] #275 closed

[2020-02-15 17:04] akariv commented on #364
נראה שעכשיו זה בסדר, לא?

קישור מעודכן:

https://next.obudget.org/s/?q=%D7%A0%D7%95%D7%A2%D7%A8&dd=procurement&range=all&lang=he&tender_type=calls_for_bids&status=all

[2020-02-15 17:48] #353 closed

[2020-02-15 17:49] akariv commented on #379
Related to #225

[2020-02-15 21:29] maryLoi commented on #378
עדין מופיעה טילדה
(בעדיפות נמוכה, אם מזדמן)

![image](https://user-images.githubusercontent.com/8996235/74595519-f9626a80-504a-11ea-9d0d-c30028ecd3fd.png)

[2020-02-17 15:15] #366 closed

[2020-02-17 15:16] #378 closed

[2020-02-17 15:16] #364 closed

[2020-02-17 16:14] odedsh opened #471 "Maya Parser: Data Cleansing: Academic Records"
**project**: budgetkey-data-pipelines
**pipeline**: maya/maya-reported-academic-degrees

The existing pipeline reads the maya stock exchange notifications that occur when new board members and other company officers are appointed.
The Academic record reported in these forms is text based and it is placed in the columns  _'Degree',  'Field' &'Institution'._

## Task:
We want to build rules that wil

[2020-02-17 16:45] odedsh opened #472 "Add new Maya Parser: Appointment of Director ת093"
**project**: budgetkey-data-pipelines
**pipeline**: maya/maya-company-director-appointment

##Task:
A new pipeline is needed to parse forms with type: ת093

This should be done similar to forms already parsed (the closest in structure  is ת091)

There is also a common framework for these types of files from maya, and would be beneficial to keep working in the same format.

[2020-02-17 19:19] noamoss commented on #459
@maryLoi אדם עשה קצת סידור וארגון.
מוזמנת לאתגר אותנו - ללא פריטים מהג'וינט ומהקק"ל.

[2020-02-17 19:35] #463 closed

[2020-02-17 19:47] akariv commented on #469
@noamoss
This was applied, you should not be able to find any items with claim dates in the support criteria category

[2020-02-18 21:14] akariv commented on #448
I think this was already solved

[2020-02-18 21:14] #448 closed

[2020-02-19 12:06] maryLoi opened #473 "מנוע חיפוש לא מוצא"
אם מחפשים "העמותה להעצמה כלכלית לנשים" לא מקבלים שמות גופים כלל.

בפועל העמותה קיימת במאגר
https://next.obudget.org/i/org/association/580350460?li=0

[2020-02-22 08:18] noamoss commented on #463
checked and approved on live

[2020-02-22 08:26] noamoss opened #474 "turn "קולות קוראים" content type label into "קול קורא""
Some items are labeled in plural terms, for example https://next.obudget.org/i/calls_for_bids/call_for_bids/150673/5515006a-2cf5-46e7-b0e3-45ac4336cb1a?li=3&theme=socialmap

![image](https://user-images.githubusercontent.com/3581741/75089035-4bc8ed00-555d-11ea-9296-55676f7d2fa8.png)

![image](https://user-images.githubusercontent.com/3581741/75089053-86328a00-555d-11ea-9dde-f41eb89bce26.png)

[2020-02-22 08:45] noamoss opened #475 "fix תמיכות ומענקים type label"
We should not use label to describe the category, but the relevant item. Therefore, I think we should
1. fix this label into "תמיכה או מענק"
2. fix the label icon to include both terms:
  a. I already added the relevant explaination to [the tooltips file](https://docs.google.com/spreadsheets/d/1ztsoslfvEiQS1jSTrivU6chvyAySIIV9tad0L1ZKGj8/edit?usp=sharing)
 b. still need to fix the i icon location,

[2020-02-22 08:46] noamoss commented on #408
could not find further relevant examples. closing issue.

[2020-02-22 08:46] #408 closed

[2020-02-22 08:53] noamoss commented on #469
@akariv
I think the original problem remains after applying this solution. See [the example item above](https://next.obudget.org/i/support_criteria/support_criteria/153722/ac3b7663-6cc1-41df-9292-dd0011aff968?li=1&theme=socialmap): we know that a request to be submitted will not be checked:

![image](https://user-images.githubusercontent.com/3581741/75089403-10302200-5561-11ea-8be8-3037c5d5b1d6.pn

[2020-02-22 09:02] noamoss commented on #438
@akariv
1. [See if we are using Universal Analytics](https://support.google.com/analytics/answer/4457764). If not, update.
2. I think you should spend ~2h to explore and maybe apply the following parts on the [provided link](https://support.google.com/analytics/answer/3198398?hl=en):
"Tracking Code Missing or Not Working on Landing Page"
"Inconsistent Tracking Code Configuration"

to  (hopefully)

[2020-02-22 09:07] akariv commented on #469
This is the actual item - the one you linked above is not accessible via
search any more.

https://next.obudget.org/i/calls_for_bids/call_for_bids/153722/ac3b7663-6cc1-41df-9292-dd0011aff968?li=0

On Sat, Feb 22, 2020 at 10:53 AM noamoss <notifications@github.com> wrote:

[2020-02-22 09:30] noamoss commented on #445
@akariv ready for review. For the tests you accept, please add your time estimation.

[2020-02-22 09:37] noamoss commented on #473
@maryLoi
דווקא מצאתי. אם זה לא עובד אצלך, תכללי בבקשה צילום מסך וקישור למסך התוצאה:

![image](https://user-images.githubusercontent.com/3581741/75090057-ae26eb00-5567-11ea-9c6e-9c1ec4fa668d.png)

[2020-02-22 09:37] noamoss commented on #473
@maryLoi אם עובד, סגרי בבקשה את הנושא

[2020-02-22 12:17] akariv commented on #473
הארגון נקרא ״עמותה להעצמה כלכלית לנשים״ ולא ״העמותה להעצמה כלכלית לנשים״

תיקנתי את החיפוש כך שימצא גם עם שגיאות מסוג זה.

[2020-02-22 12:17] #473 closed

[2020-02-22 12:17] akariv commented on #468
@noamoss  what do you think?

[2020-02-22 12:19] akariv commented on #461
@noamoss what do you think? Work fixing or should we ice box it?

[2020-02-22 12:19] akariv commented on #456
@noamoss what is your opinion?

[2020-02-22 12:20] akariv commented on #455
These are now being scanned as קולות קוראים

[2020-02-22 12:20] #455 closed

[2020-02-22 12:20] akariv commented on #454
done

[2020-02-22 12:20] #454 closed

[2020-02-22 12:20] akariv commented on #453
done

[2020-02-22 12:20] #453 closed

[2020-02-22 12:21] akariv commented on #452
It's blocked right now due to scraping problems.

[2020-02-22 12:21] akariv commented on #451
I think this is done - @maryLoi please approve.

[2020-02-22 12:22] #450 closed

[2020-02-22 12:23] akariv commented on #437
it works

[2020-02-22 12:23] #437 closed

[2020-02-22 12:24] akariv commented on #434
Fixed.

[2020-02-22 12:24] #434 closed

[2020-02-22 12:24] akariv commented on #433
https://next.obudget.org/i/calls_for_bids/call_for_bids/654246041/0?li=0

[2020-02-22 12:24] #433 closed

[2020-02-22 13:01] akariv commented on #373
עכשיו מופיע

[2020-02-22 13:01] #373 closed

[2020-02-22 13:02] akariv commented on #374
עכשיו בסדר @maryLoi ?

[2020-02-22 13:04] akariv commented on #403
@noamoss wdyt?

[2020-02-22 14:59] noamoss commented on #403
@akariv adding (xxxxx - xxxxx) at the end of the subtitle is ok, as long as these values are dynamic and changing by the available budget years on the site)

[2020-02-22 15:04] noamoss commented on #456
@akariv @maryLoi

זו היתה גם המחשה שלי בהתחלה. מבחינתי נכון להוריד את "פרופיל אישי" כל עוד לא מבקשים מהמשתמשים מידע נוסף.

לא מסכים. מבדיקות המקדימות שמענו יש משתמשים שירצו להתסכל ולשתף את ההתראות בנפרד, רלוונטי בהקשר של "רכש פתוח" (שמתבסס על אותו מנגנון) - ולהערכתי גם לעמותות וארגונים (גם אם לא עלה כצורך בהדרכות).

@akariv I would give on the "personal profile",.

[2020-02-22 15:06] noamoss commented on #461
@maryLoi מאיזה מכשיר/מסך נלקח צילום המסך הזה?
תוכלי לשלוח ממנו קישור ייחודי מ- [whatismybrowser.com](whatismybrowser.com)?

(אצלי זה נראה בסדר גמור)

[2020-02-22 15:12] noamoss commented on #468
@maryLoi תוכלי לפרט מאין וממי הגיע המשוב הזה? כלומר, באיזה הקשר וכמה משתמשים העלו את הנושא הזה?

@akariv my gut feeling, for regular users, without hearing your time estimations for each part:

needed

not a must

not sure, as long as AND relation is implemented, the OR can be used in a separate search/alert

[2020-02-22 15:20] #469 closed

[2020-02-22 21:28] akariv commented on #427
<img width="1306" alt="Screen Shot 2020-02-22 at 23 26 24" src="https://user-images.githubusercontent.com/265333/75099493-f88d8380-55ca-11ea-897a-409bf0d8068e.png">

זה קיים עכשיו בטבלת ההתקשרויות @maryLoi

[2020-02-22 21:36] #421 closed

[2020-02-25 18:18] maryLoi opened #476 "תצוגה דיפולטית של הטבלה לא תואמת נתונים"
כל הכספים שהגוף הזה מקבל הם בהתקשרויות, והתצוגה הדיפולטית של הטבלה היא תמיכות. מבלבל
לא הוספת בכל מקום את האופציה של טבלה משולבת של רכש ותמיכות?

https://next.obudget.org/i/org/company/515707909?li=1
![image](https://user-images.githubusercontent.com/8996235/75274428-835cc100-580b-11ea-8dfe-7e6acaf6d2ca.png)

[2020-02-25 20:11] maryLoi commented on #476
במקרה הזה יש רק תמיכות שאושרו, אין מידע על העברות בפועל. בתצוגה הדיפולטית נראה כאילו אין נתונים כלל
(צילום מסך של הנתונים שכן קיימים)
https://next.obudget.org/i/budget/0020460268/2019

![image](https://user-images.githubusercontent.com/8996235/75283509-b0b16b00-581b-11ea-95b9-b4050b6591c7.png)

[2020-02-26 15:21] maryLoi opened #477 "ארגוני מגדר למפה החברתית"
מסתבר שלרשם העמותות אין שום קטגוריית סיווג שקשורה למגדר/ארגוני נשים/ארגונים פמיניסטיים וכו'. מדגימה עקראית, ארגוני הנשים מסווגים או כארגוני סנגור או בקטגוריה צרה יותר כמו חינוך לגיל הרך, טיפול בנפגעות תקיפה מינית וכו'. האם ניתן להשתמש בסיווגים שיש ביודעת ולייבא אותם למפה?

כמו כן, האם ניתן לפתח מנגנון פשוט שיאפשר לעמותות להכניס וולונטרית תיוגים עצמיים?

[2020-03-15 11:24] maryLoi commented on #460
עדין לא נפתר. הינה שם חברה שכתוב עם טילדה בדף ארגון, עם גרשיים בדף התקשרות, ושוב עם טילדה בטבלת הוצאות
https://next.obudget.org/i/org/company/515041176

![image](https://user-images.githubusercontent.com/8996235/76700428-07de8900-66c0-11ea-9657-de642033f7e1.png)
________________________________________________________________
![image](https://user-images.githubusercontent.com/8996235/76700433-17f6

[2020-03-15 17:52] maryLoi opened #479 "שם משרד לא נכון בטבלת הוצאות"
בדף תמיכה, בטבלה מופיע מספר סעיף במקום שם המשרד
https://next.obudget.org/i/supports/0023117533/2019/580551737/%D7%AA%D7%9E%D7%99%D7%9B%D7%94%20%20%D7%93%D7%A8%D7%9A%20%D7%9E%D7%95%D7%A1%D7%93?li=5
![image](https://user-images.githubusercontent.com/8996235/76707271-64f53180-66f6-11ea-8a97-f348270e6c5b.png)

[2020-03-17 18:13] maryLoi opened #480 "התקשרות ללא פרטים"
בדף הההתקשרות אין שום פרטים למרות שיש 42% ביצוע

https://next.obudget.org/i/contract-spending/%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%97%D7%99%D7%A0%D7%95%D7%9A/4501665051/0020670174?li=9

![image](https://user-images.githubusercontent.com/8996235/76887925-abc86000-688b-11ea-97df-eac84bbebde2.png)

[2020-03-17 20:28] #480 closed

[2020-03-17 20:29] akariv commented on #480
נראה שזה העמוד הנכון של ההתקשרות, שעברה מתקנה לתקנה:

https://next.obudget.org/i/contract-spending/%D7%9E%D7%A9%D7%A8%D7%93%20%D7%94%D7%97%D7%99%D7%A0%D7%95%D7%9A/4501665051/0020460454?li=0

הדף שאת הגעת אליו נראה ישן וכנראה צריך להימחק... אבדוק מדוע זה לא קרה

[2020-03-17 20:54] akariv commented on #477
בגדול עמותות בוחרות בעצמן את התיוג שלהן מתוך רשימה שיש במשרד המשפטים...
אני לא חושב שאנחנו יכולים לקבוע מה רשימת הקטגוריות הרשמית,
בכל מקרה-@noamoss יכול להרחיב כאן

[2020-03-17 21:06] akariv commented on #476
I added the total expenses query to the org page now.

In the second case, there were no actual payments (only approvals) so the default list is empty.

[2020-03-17 21:06] #476 closed

[2020-03-17 21:54] noamoss commented on #477
הבעיה הזו נכונה לכל ארגון שעוסק בתחום שלא נמצא במפתח הרשמי או עוסק ביותר מתחום אחד.

הקטלוג בגיידסטאר מורכב ממפתח ראשי ומפתח משני, אבל בשניהם ניתן (או לפחות ניתן היה, לפני שנה) לסמן ערך אחד בלבד. מדובר בשיטת מיפתוח לא מאוד הגיונית, והיה דיבור על מעבר לסטנדרט מקובל בעולם.
מה שאנחנו מציגים ב"מפה החברתית" משקף בסופו של דבר את ההצהרות הרשמיות של הארגונים לפי השיטה הבעייתית הזו.

בהנחה שאנחנו לא לוקחים

[2020-03-17 21:58] noamoss commented on #477
@maryLoi  מישהי שתוכל אולי לייעץ בנושא היא ענת קליגר, מענת קליגר

מנהלת פרויקטים מהמכון למשפט ופילנתרופיה באוניברסיטת תל-אביב. היינו בקשר סביב הקמת המפה החברתית ומהם שמעתי על נושא הסיווג בזמנו:  <anatklig@post.tau.ac.il>

לכי תדעי, יתכן שהן מחזיקות במאגר מעודכן לפי נושאים.

[2020-03-30 17:35] shirawerman commented on #465
I'm starting to work on this project -Shira

[2020-03-30 17:45] akariv commented on #465
Thank you!

On Mon, Mar 30, 2020, 20:36 shirawerman <notifications@github.com> wrote:

[2020-04-04 19:46] maryLoi opened #481 "לאחד כל סעיפי משרד הקליטה"
![image](https://user-images.githubusercontent.com/8996235/78460024-110eb480-76c6-11ea-9457-b21cbeaf843f.png)

[2020-04-04 19:54] maryLoi opened #482 "לינק שבור לתקנה"
בדף הזה
https://next.obudget.org/i/org/association/580109254

בטבלת ההוצאות
"פירוט כלל התמיכות"

הלינק של ההנושא הבא שבור
"תמיכות בפיקוח על חסויים חסרי אמצעים"

זה הלינק:
https://next.obudget.org/i/supports/0008511216/2019/%D7%99%D7%9C%D7%93%D7%99%D7%9D%20%D7%91%D7%A1%D7%99%D7%9B%D7%95%D7%99%20-%20%D7%94%D7%9E%D7%95%D7%A2%D7%A6%D7%94%20%D7%9C%D7%99%D7%9C%D7%93%20%D7%94%D7%97%D7%95%D7%A1%D7%94%20(%

[2020-04-04 19:55] maryLoi commented on #482
התקנה קיימת וזה הלינק:
https://next.obudget.org/i/budget/0008511216/2019

[2020-04-08 10:41] maryLoi commented on #467
אני מציעה לבקש את הנתונים בבקשת חופש מידע במקום סקרייפינג.
אגיש בקשה אחרי הקורונה

[2020-04-15 14:37] maryLoi opened #483 "אגודות שיתופיות ועותמניות - בסינון לאחד עם עמותות"
כמו שעמותות מצוותות עם חל"צ.
גם שני אלה הם ארגונים ללא מטרות רווח
![image](https://user-images.githubusercontent.com/8996235/79350126-bd129400-7f3f-11ea-964d-f0501db493b2.png)

[2020-04-15 16:05] maryLoi opened #484 "לאפשר להוריד לאקסל לא רק נתוני הוצאות"
ביקשו ממני כבר רשימה של סעיפים
גם רשימה של ארגונים זה שימושי
כמה זה מסובך?

[2020-04-15 16:32] akariv commented on #484
אפשר להוריד לאקסל כל תוצאה של שאילתא בדף, לא רק נתוני הוצאות

On Wed, Apr 15, 2020 at 7:06 PM Mary <notifications@github.com> wrote:

[2020-04-19 13:20] gpipman commented on #465
Hi Adam,  my name is Gustavo Pipman and I'm interested in volunteering at Hasadna. The budget issue and the municipal data specifically interested me.
I walked through the steps of learning DataFlows , a simple and intuitive way of building data processing flows.
Finally, I took '2018.xlsx'  one of the LAMAS files in the link supplied by you and generated a Datapackage with 5 resources. One for ea

[2020-04-19 13:34] akariv commented on #465
Hola Gustavo!

Great to have you on board :)
The final output of this flow should be a single file with the following
columns:
`'city name', 'city symbol', 'year', <columns for all indicators>`

The flow should use all source files and combine them into one big happy
file :)

The indicator columns should not have generic `column_X` names but rather
indicative names based on the field name.
We have

[2020-04-29 17:43] gpipman commented on #465
[municipal_titles.xlsx](https://github.com/OpenBudget/BudgetKey/files/4553310/municipal_titles.xlsx)
Hi Adam,
I worked on file 2018.xlsx. In the attached file I retrieved the titles for each column for the different sheets in the workbook. The titles are in hebrew as in the original. Before the translation and before to append the titles to the csv files  I will  appreciate if you can take a look

[2020-05-06 13:56] maryLoi opened #485 "סכום תמיכות בדף עמותה שגוי"
בדף העמותה "תנועת בנות בית יעקב - בתיה" בטקסט כתוב: סך התמיכות להן זכה הארגון מהמדינה בשלוש השנים האחרונות **83,128,134**₪.

בטבלת ההוצאות המספרים לא מסתכמים לסכום הזה

![image](https://user-images.githubusercontent.com/8996235/81185621-79e59700-8fba-11ea-8711-0c732a98b3da.png)

[2020-05-06 13:57] maryLoi commented on #485
האם 3 שנים אחרונות לא כולל את השנה הנוכחית?

[2020-05-15 09:20] eli-antebi opened #486 "API down?"
https://next.obudget.org/search/tenders,contract-spending/%D7%A0%D7%95%D7%A2%D7%A8/2008-05-07/2028-05-07/10/0

[2020-05-15 13:03] akariv commented on #486
It's up - that endpoint was removed:

https://next.obudget.org/search/tenders,contract-spending?size=10&offset=0&q=%D7%9E%D7%A2%D7%A8&from_date=1900-01-01&to_date=2100-01-01

On Fri, May 15, 2020 at 12:20 PM Eli Antebi <notifications@github.com>
wrote:

[2020-05-17 07:58] eli-antebi commented on #486
Where can I find updated documentation please?
I'm trying to fetch non-profits annual budget and contact info..

[2020-05-18 14:05] maryLoi opened #487 "שני סעיפי משרד הבריאות לא מוצגים תחת נושא שרותי בריאות"
קיימים שני סעיפים שונים : מטה ופיתוח

![image](https://user-images.githubusercontent.com/8996235/82222223-a6d66a00-9929-11ea-9107-d138deb638f9.png)

אבל רק הסעיף הגדול מופיע תחת נושא בריאות

![image](https://user-images.githubusercontent.com/8996235/82222309-c79ebf80-9929-11ea-9290-ff7fa033777c.png)

[2020-05-18 14:42] maryLoi opened #488 "יש נתוני הוצאות על תמיכות רק עד 2013"
https://next.obudget.org/i/budget/002420/2019

[2020-05-18 15:00] maryLoi opened #489 "לחבר סעיפי טיפות חלב"
https://next.obudget.org/i/budget/0024160362/2019?li=1
https://next.obudget.org/i/budget/0024160162/2015?li=2

[2020-05-18 15:46] maryLoi opened #490 "באג בדף תוצאות חיפוש"
חיפוש של "הקצאת מחלות קשות לפי חוק ביטוח בריאות ממלכתי" גורם לבאג בתצוגה

![image](https://user-images.githubusercontent.com/8996235/82232822-c8d6e900-9937-11ea-9eea-ef1a5f88fd88.png)

[2020-05-18 16:44] maryLoi commented on #489
פרוייקט מניעת אלימות

https://next.obudget.org/i/budget/0024070912/2019
https://next.obudget.org/i/budget/0024070736/2015

[2020-05-18 16:54] maryLoi commented on #489
הכשרת אחיות
https://next.obudget.org/i/budget/00240403/2016?li=1
https://next.obudget.org/i/budget/00240420/2019

[2020-06-06 18:38] noamoss opened #491 "scrape justice ministry general guardian (האפוטרופוס הכללי) - revised"
followup of #395

[2020-06-06 18:39] noamoss commented on #395
closing in favor of #491.

[2020-06-06 18:39] #395 closed

[2020-06-07 16:51] noamoss commented on #491
@akariv see my [initial draft](https://docs.google.com/document/d/1o2gpziqIJf7qXgR_rO3i7aeg4ty12_x_IiqDMfjcuJs/edit?usp=sharing).

Any comments? Most improtat - can you appove my general question is clear and correct?

[2020-06-07 17:16] akariv commented on #491
Yes, it's very clear.
It looks like this won't be answered via a list of questions but by them
providing decent documentation on this - but maybe the questions is a way
to get there.

On Sun, Jun 7, 2020 at 7:51 PM noamoss <notifications@github.com> wrote:

[2020-06-16 19:38] fluhus commented on #465
Hi Adam et al,
I'd like help the obudget project.
What's the status of this issue? How can I assist?

Amit

[2020-06-16 21:23] akariv commented on #465
I think it's stalled - have a go at it :)

On Tue, Jun 16, 2020 at 10:38 PM Amit Lavon <notifications@github.com>
wrote:

[2020-06-17 16:11] fluhus commented on #465
What exactly do you need here?

All the data from all the years combined? Which spreadsheets from each file? Where is it used (or going to be used)?

[2020-06-17 16:48] akariv commented on #465
Yes -

One spreadsheet with the data from all years and all files.
Column names need to be in english - you can use the translation table here
to help you with that:

https://github.com/OpenBudget/budgetkey-data-pipelines/blob/master/datapackage_pipelines_budgetkey/pipelines/lamas/translate_headers.py

On Wed, Jun 17, 2020 at 7:33 PM Amit Lavon <notifications@github.com> wrote:

[2020-06-22 18:37] fluhus commented on #465
I am looking into this. Ran into some difficulties opening the xls files. I am trying to use pandas to open them. Is that what you'd recommend to use?

[2020-06-22 18:47] akariv commented on #465
Our preferred method is to use the dataflows library.

You can find more information in the README file of the
budgetkey-data-pipelines repo.

On Mon, Jun 22, 2020 at 9:37 PM Amit Lavon <notifications@github.com> wrote:

[2020-06-22 19:00] fluhus commented on #465
Cool, I'll take a look.

[2020-07-05 16:12] maryLoi commented on #467
המאגר התקבל
https://drive.google.com/file/d/1Lep_DqOwW7P2kOqcPgcBrrqQmTtusRqQ/view?usp=sharing

[2020-07-05 16:40] akariv commented on #467
זה לא רע אבל המידע שהתקבל ממש חלקי.

אפשר להסתכל למשל על עמוד של תכנית אחת -
https://apps.education.gov.il/tyhnet/public/#/tochniyot?id=1401

יש שם מידע על הארגון (כולל מספר תאגיד), מידע על מוסדות לימוד בהם התכנית
פעילה ועוד לא מעט פרטים על אוכלוסיית היעד (למשל) שפשוט לא מופיעים בתשובה.
אגב, המאגר הזה משתנה כל הזמן אז עדיין עדיף לייצר משהו מתעדכן ולא סטטי.

On Sun, Jul 5, 2020 at 7:12 PM Mary <not

[2020-07-06 17:19] fluhus commented on #465
@akariv I am looking in the dataflows [tutorial](https://github.com/datahq/dataflows/blob/master/TUTORIAL.md) and am not quite sure how to load an xls and get a simple in-memory object to work with. Do you have a concrete example for that?

[2020-07-06 18:18] idshklein opened #492 "Downloaded csv doesn't show hebrew"
tried to download the csv of this page:
https://next.obudget.org/i/budget/0079550101/2019
and got gibberish.
![image](https://user-images.githubusercontent.com/12258810/86625722-35807280-bfce-11ea-9fe6-72e452c4673c.png)

[2020-07-06 18:25] akariv commented on #465
dataflows is intended to work on data files on a row by row basis - so that
you don't load the entire data file into memory (which is a limited
resource on the machines we use, especially when other scrapers are running
in parallel).
Generally, you can give the 'load' processor an xls filename or url and it
will open and stream it for you.

On Mon, Jul 6, 2020 at 8:19 PM Amit Lavon <notifications@

[2020-07-06 18:27] akariv commented on #492
CSVs are encoded using the UTF-8 character encoding.
Old versions of Excel don't support this standard, but you can open the
CSVs in Google Spreadsheet / Libreoffice / Numbers / Newer Excel and
convert it to a compatible 'xls' file,.

On Mon, Jul 6, 2020 at 9:18 PM idshklein <notifications@github.com> wrote:

[2020-07-13 21:30] maryLoi opened #493 "חיפוש החלטות ממשלה"
צריך להוסיף פילטר שיאפשר לסנן לפי שנים
לאפשר לחפש לפי מספר ההחלטה (היום לא ניתן)

[2020-07-13 21:51] maryLoi opened #494 "תאריך פרסום החלטות ממשלה"
בשדה של תאריך הפרסום מוצג בפועל תאריך העדכון האחרון במקום
למשל
https://next.obudget.org/i/gov_decisions/68e95079-7079-4bb0-8674-7267146cd8a9?li=5

במקור
https://www.gov.il/he/departments/policies/2014_dec2097

[2020-07-23 08:25] maryLoi opened #495 "מכרז ישן מופיע כפתוח"
https://next.obudget.org/i/tenders/office/624888/1006/18?li=3

[2020-08-01 21:14] maryLoi opened #496 "בהוצאות על תמיכות חסר מידע"
בתקנה זו, בטבלה מופיעים נתונים רק על 2008, למרות שבוודאות היו שם נתונים על השנים האחרות
התלמידים ענו על השאלה במסגרת הקורס לפני שבוע ומצאו נתונים, והיום הם לא מופיעים.
https://next.obudget.org/i/budget/0030041124/2012?li=0

בנוסף אחת העמותות לדוגמה, בדף שלה מופיעים נתונים על תמיכות מתקנה זו
https://next.obudget.org/i/org/association/580377497?li=0

[2020-08-01 21:35] maryLoi opened #497 "כותרת בטבלת ההוצאות"
את הכותרת "התקנות מהן הארגון קיבל תמכיות" אנ מציעה לשנות "סיכום התמיכות לארגון בכל השנים" בדומה לכותרת דומה המתייחסת להתקשרויות

[2020-09-02 20:06] maryLoi commented on #496
בנתונים של עמותת עלם חסרים נתוני תמיכות מ-2018

[2020-09-04 09:11] Edenik commented on #230
Is this still relevant?
From which specific repos would you like to collect contributors?
@akariv

[2020-09-06 13:33] akariv commented on #497
אני מניח שאת מתכוונת לעמוד של אירגון, נכון?

[2020-09-08 13:33] maryLoi commented on #496
בנתוני עמותת עלם:
אם בוחרים ב"התקנות מהן הארגון קיבל תמיכות,.. שאושרו ב **2015**
מקבלים: 855,500 ש"ח

![image](https://user-images.githubusercontent.com/8996235/92482736-a02d7480-f1f0-11ea-9291-72d5a05eb80f.png)

_______________________________
אם בוחרים ב"פירוט כל הכספים שהארגון קיבל ב 2015
מקבלים: 920,000 ש"ח

![image](https://user-images.githubusercontent.com/8996235/92482825-bc311600-f1f0-11ea

[2020-09-15 20:08] maryLoi opened #498 "המפה החברתית - סינון עמותות לפי איזור מרכז"
למשל אם מסננים ארגונים בתחום איכות הסביבה, לפי הפעילים באיזור מרכז מקבלים 0 תוצאות
אני משערת שהסיבה היא שבדאטה כתוב "המרכז" והסינון לפי "מרכז

https://next.obudget.org/i/reports/ngo-activity-report/%D7%90%D7%99%D7%9B%D7%95%D7%AA%20%D7%A1%D7%91%D7%99%D7%91%D7%94?li=0&theme=socialmap

![image](https://user-images.githubusercontent.com/8996235/93259245-368d0780-f7a8-11ea-9934-8d585fe8b933.png)

_____

[2020-09-24 15:17] maryLoi opened #499 "להכניס נתוני תמיכות שהתקבלו בחופש מידע"
https://drive.google.com/drive/folders/1_VlDSR9SEPv9iqvNeeOoPE0_c2upULUD?usp=sharing

עבור השנים 2019-2016:

 79.55.01 - תמיכות בתחבורה ציבורית
 23.10.13.41 - השתתפות בשכר עובדי רשויות מקומיות
 20.44.01.01 - שכר לימוד לחטיבה עליונה

[2020-10-03 12:19] davidlevinwork commented on #283
Hey! The issue is still relevant?
CS student, second year. I'm going to try and help if this is relevant.

[2020-10-03 14:22] akariv commented on #283
Yes, still relevant! Thanks 🙂

On Sat, Oct 3, 2020, 15:19 davidlevinwork <notifications@github.com> wrote:

[2020-10-04 16:11] maryLoi opened #500 "סיווג קולות קוראים"
החלוקה לקטגוריות קול קורא / קולות קוראים / תמיכות ומענקים מיותרת - אין הבדל מהותי למעט סיווג שרירותי ולא עקבי של משרדי הממשלה. מייצר בלבול.
מציעה להפוך הכל ל"קול קורא"

[2020-10-04 16:29] maryLoi opened #501 "קולות קוראים משרד הבריאות"
למה אין קולות קוראים של משרד הבריאות? האם הוא לא מפרסם?

[2020-10-05 18:26] maryLoi opened #502 "להוסיף מיזם משותף לכותרת"
בדף ארגון, בטבלת ההוצאות, תחת "כלל המכרזים והפטורים ממכרז עם הארגון " להוסיף גם  מיזמים משותפים
אנשים לא יודעים שמיזם משותף הוא סוג של רכש ושהוא מאושר בהליך של פטור ממכרז

[2020-10-05 19:20] maryLoi opened #503 "לחבר סעיפים של משרד הרווחה"
https://next.obudget.org/i/budget/0023/2003?li=5
https://next.obudget.org/i/budget/0023/2019?li=0

[2020-10-06 19:37] maryLoi opened #504 "מידע על כספי ממשלה של ארגון"
החברה ביצעה מכרזים אבל למעלה לא כתוב שקיבלה כספי ממשלה

https://next.obudget.org/i/org/company/513469460?li=0

![image](https://user-images.githubusercontent.com/8996235/95251570-6cac2d00-0824-11eb-840e-0400fe02f336.png)

[2020-10-06 19:39] akariv commented on #504
למיטב זכרוני המספר הזה הוא רק עבור 3 השנים האחרונות

On Tue, Oct 6, 2020, 22:37 Mary <notifications@github.com> wrote:

[2020-10-07 11:42] maryLoi commented on #504
@akariv
הסיפור הזה של 3 שנים הוא מאוד מבלבל ולא אינטואיטיבי.
הייתי מציעה לעשות סה"כ בכל השנים , ואם לא אז רק בשנה האחרונה

[2020-10-08 13:53] ofirbenezra commented on #93
I'm would like to work on this :)

[2020-10-08 14:00] akariv commented on #93
Awesome!
would be best to add to the budgetkey-ng2-components module, which is
shared by all of the BudgetKey applications.

On Thu, Oct 8, 2020 at 4:54 PM Ofir Ben Ezra <notifications@github.com>
wrote:

[2020-10-08 15:27] noamoss commented on #504
@akariv

הייתה לזה איזו סיבה מקצועית... לא?

[2020-10-08 15:27] noamoss commented on #502
@maryLoi דוגמה לפריט?

[2020-10-08 15:28] noamoss commented on #501
@maryLoi closing this issue in favor of https://github.com/OpenBudget/BudgetKey/issues/346

[2020-10-08 15:29] #501 closed

[2020-10-08 15:30] noamoss commented on #500
@maryLoi
תפתחי ותדגימי בבקשה את הנושא. לא לגמרי ברור - ואני לא בטוח בכלל שאת שצודקת ש"קול קורא/קולות קוראים" == "תמיכות ומענקים".

אבל בואי נראה מהדוגמאות. נסי בבקשה לבחון אם מה שאת מדברת עליו הוא כלל או מקרה.

[2020-10-08 20:39] akariv commented on #504
כן, כי להציג את הסה״כ כשלא ברור ממתי הוא (ועבור כל גוף ופריט זה משתנה) זה
מבלבל לא פחות.
המטרה היתה לאפשר השוואת ״תפוחים לתפוחים״ ולא להציג מידע שאינו בר השוואה וגם
היסטורית פחות רלוונטי.

On Thu, Oct 8, 2020 at 6:27 PM noamoss <notifications@github.com> wrote:

[2020-10-14 12:53] alongoldenberg opened #505 "Change number in Home page"
There's an incorrect number in the homepage presentation:
![image](https://user-images.githubusercontent.com/53394834/95991365-5b22e080-0e35-11eb-8b07-ee48f2cab118.png)

[2020-10-14 13:07] akariv commented on #505
Thanks and good catch!
Are you up for a pull request to fix this bug?

On Wed, Oct 14, 2020 at 3:53 PM Alon Goldenberg <notifications@github.com>
wrote:

[2020-10-14 13:18] alongoldenberg commented on #505
Sure, give me push permissions

[2020-10-14 14:47] akariv commented on #505
Please fork and open a pull request and I'll review and merge.

Thanks :smile: !

On Wed, Oct 14, 2020 at 4:19 PM Alon Goldenberg <notifications@github.com>
wrote:

[2020-10-17 07:24] noamoss opened #506 "Broken image in weekly notification mail"
![Screenshot_2020-10-17-10-24-02-102_com.google.android.gm.jpg](https://user-images.githubusercontent.com/3581741/96331059-ec2acf00-1062-11eb-821d-f26e9197ac7b.jpg)

[2020-10-17 07:27] noamoss commented on #506
One of the broken images links:
https://next.obudget.org/i/tenders/office/653603/15/9.2020

[2020-10-17 07:39] akariv commented on #506
Can you forward me the email?

On Sat, Oct 17, 2020 at 10:27 AM noamoss <notifications@github.com> wrote:

[2020-10-17 15:44] noamoss commented on #506
@akariv while looking at it again, the problem did not reoccur, so I guess no point in forwarding it. Probably a slow connection with timeout or a temporary glitch.

Anyhow, I would suggest using [relevant techniques](https://exceptionshub.com/how-to-hide-image-broken-icon-using-only-csshtml-without-js.html), as a textual placeholder ("פריט לתצוגה") for these rare cases.

(please notice I had 5 br

[2020-10-17 16:19] akariv commented on #506
Yes, adding an alt attribute is a good idea, also for accessibility reasons.

On Sat, Oct 17, 2020, 18:44 noamoss <notifications@github.com> wrote:

[2021-05-10 08:21] OriHoch opened #507 "searching from an item page redirects to an empty page"
### reproduction steps

* go to an item page, e.g. https://next.obudget.org/i/budget/00/2020?li=0
* in the header search box, type a query and press ENTER

#### expected

* go to the search results page

#### actual

* goes to an empty page
![image](https://user-images.githubusercontent.com/1198854/117628487-e244f680-b181-11eb-9517-fc61722b9f6c.png)

[2021-05-10 08:25] akariv commented on #507
10x, I'll look into this.

On Mon, May 10, 2021 at 11:22 AM Ori Hoch ***@***.***> wrote:

[2022-08-23 13:43] MorEisenberg opened #508 "Makor Hakesef - Wirefram"
**Why**
Make it easier for users to access data

**How**
https://www.figma.com/file/4BdzfcVsEVo5UGLGH5z7OF/Makor-Hakesef---Wirefram?node-id=0%3A1

An UI/UX designer might be helpful :)